<form class="m-t" role="form" name="userForm" form-step-validity>

    <div class="form-group" ng-class="{
    'has-error' : (userForm.secretCode.$invalid && !userForm.secretCode.$pristine) || (!signCtrl.validSecretCode),
         'has-success': stepCtrl.validSecretCode && !userForm.secretCode.$pristine}">
        <input type="text" name="secretCode"  class="form-control"
               placeholder="Ingresa el código que recibiste en el aula"
               ng-model="signCtrl.registerCode"
               ng-change="signCtrl.validateSecretCode()"
               required/>

        <i class="fa fa-times text-danger field-check" ng-hide="signCtrl.validSecretCode"></i>
        <i class="fa fa-check text-success field-check" ng-show="signCtrl.validSecretCode && !userForm.secretCode.$pristine && signCtrl.registerCode"></i>

        <p ng-show="(userForm.secretCode.$invalid || !signCtrl.validSecretCode) && !userForm.secretCode.$pristine" class="help-block">Codigo erroneo</p>
    </div>

    <button ng-hide="$isLast()" ng-disabled="!signCtrl.validSecretCode" ng-click="$nextStep()">
        Next
        <span class="fa fa-chevron-right"></span>
    </button>
</form>