<form class="m-t" role="form" name="userForm" form-step-validity>

    <div class="form-group"
         ng-class="{ 'has-error' : (userForm.username.$invalid && !userForm.username.$pristine) || !signCtrl.usernameIsAvailable || !signCtrl.usernameIsValid,
         'has-success': signCtrl.usernameIsValid && signCtrl.usernameIsAvailable && !userForm.username.$pristine}">

            <input type="text" name="username"  class="form-control"
               placeholder="Nombre de usuario"
               ng-model="signCtrl.userData.credentials.username"
               ng-change="signCtrl.checkUsername(signCtrl.userData.credentials.username)"
               ng-trim="false"
               required/>

            <i class="fa fa-times text-danger field-check" ng-hide="signCtrl.usernameIsAvailable && signCtrl.usernameIsValid"></i>
            <i class="fa fa-check text-success field-check" ng-show="signCtrl.usernameIsValid && signCtrl.usernameIsAvailable && !userForm.username.$pristine && signCtrl.userData.credentials.username"></i>

        <p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="help-block">Debes ingresar tu nombre de usuario</p>
        <p ng-show="!userForm.username.$pristine && !signCtrl.usernameIsAvailable" class="help-block">El nombre que elegiste no esta disponible</p>
        <p ng-show="!userForm.username.$pristine && !signCtrl.usernameIsValid" class="help-block">Solo puedes utilizar letras y numeros en tu usuario sin espacio ni simbolos y debe contener al menos 4 caracteres</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
        <input type="password" name="password"  class="form-control"
               placeholder="Contraseña"
               ng-model="signCtrl.userData.credentials.password"
               required/>
        <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">Debes ingresar tu contraseña</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : userForm.password2.$invalid && !userForm.password2.$pristine }">
        <input type="password" name="password2"  class="form-control"
               placeholder="Repite la Contraseña"
               ng-model="signCtrl.userData.credentials.password2"
               pw-check pw1="signCtrl.userData.credentials.password"
               required/>
        <p ng-show="userForm.password2.$error.pwmatch" class="help-block">Las contraseñas no coinciden</p>
    </div>

    <button ng-click="$previousStep()">
        <span class="fa fa-chevron-left"></span>
        Previous
    </button>

    <button ng-hide="$isLast()" ng-disabled="!signCtrl.usernameIsValid || !signCtrl.usernameIsAvailable || ($getActiveStep().hasForm && !$getActiveStep().valid)" ng-click="$nextStep()">
        Next
        <span class="fa fa-chevron-right"></span>
    </button>

</form>