<form class="m-t" role="form" name="userForm" form-step-validity>

    <div class="form-group" ng-class="{ 'has-error' : userForm.firstName.$invalid && !userForm.firstName.$pristine }">
        <input type="text" name="firstName"  class="form-control"
               placeholder="Nombre"
               ng-model="signCtrl.userData.firstName"
               required/>
        <p ng-show="userForm.firstName.$invalid && !userForm.firstName.$pristine" class="help-block">Debes ingresar tu nombre</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : userForm.lastName.$invalid && !userForm.lastName.$pristine }">
        <input type="text" name="lastName"  class="form-control"
               placeholder="Apellido"
               ng-model="signCtrl.userData.lastName"
               required/>
        <p ng-show="userForm.lastName.$invalid && !userForm.lastName.$pristine" class="help-block">Debes ingresar tu apellido</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : (userForm.username.$invalid && !userForm.username.$pristine) || (!signCtrl.validCI && !userForm.username.$pristine),
         'has-success': signCtrl.validCI && !userForm.username.$pristine}">
        <input type="text" name="doc"  class="form-control"
               placeholder="Cédula"
               ng-model="signCtrl.userData.doc"
               ng-keyup="signCtrl.validateCI(signCtrl.userData.doc)"
               required/>

        <i class="fa fa-times text-danger field-check" ng-hide="signCtrl.validCI"></i>
        <i class="fa fa-check text-success field-check" ng-show="signCtrl.validCI && !userForm.username.$pristine && signCtrl.userData.doc"></i>

        <p ng-show="userForm.doc.$invalid && !userForm.doc.$pristine" class="help-block">Debes ingresar tu cédula</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
        <input type="email" name="email"  class="form-control"
               placeholder="E-mail"
               ng-model="signCtrl.userData.email"
               required/>
        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">E-mail inválido</p>
    </div>


    <div class="form-group" ng-class="{ 'has-error' : userForm.gender.$invalid && !userForm.gender.$pristine }">

        <select ng-model="signCtrl.userData.gender"
                class="form-control m-b"
                name="gender"
                ng-options="type.code as type.name for type in [{name: 'Masculino', code: 'M'}, {name: 'Femenino', code: 'F'}] track by type.code"
                required/>
                </select>

        <p ng-show="userForm.gender.$invalid && !userForm.gender.$pristine" class="help-block">Debes ingresar tu género</p>
    </div>

    <button ng-click="$previousStep()">
        <span class="fa fa-chevron-left"></span>
        Previous
    </button>

    <button ng-hide="$isLast()" ng-disabled="($getActiveStep().hasForm && !$getActiveStep().valid)" ng-click="$nextStep()">
        Next
        <span class="fa fa-chevron-right"></span>
    </button>

</form>