<form class="m-t" role="form" name="userForm" form-step-validity>

    <div class="form-group" ng-class="{ 'has-error' : userForm.parentFirstName.$invalid && !userForm.parentFirstName.$pristine }">
        <input type="text" name="parentFirstName"  class="form-control"
               placeholder="Nombre"
               ng-model="signCtrl.userData.student.parent2.firstName"
               />
        <!--<p ng-show="userForm.parentFirstName.$invalid && !userForm.parentFirstName.$pristine" class="help-block">Debes ingresar el nombre de uno de tus padres</p>-->
    </div>

    <div class="form-group" ng-class="{ 'has-error' : userForm.parentLastName.$invalid && !userForm.parentLastName.$pristine }">
        <input type="text" name="parentLastName"  class="form-control"
               placeholder="Apellido"
               ng-model="signCtrl.userData.student.parent2.lastName"
               />
        <!--<p ng-show="userForm.parentLastName.$invalid && !userForm.parentLastName.$pristine" class="help-block">Debes ingresar el apellido de uno de tus padres</p>-->
    </div>

    <div class="form-group" ng-class="{ 'has-error' : (userForm.parentDoc.$invalid && !userForm.parentDoc.$pristine) || (!signCtrl.onlyValidateCI(signCtrl.userData.student.parent2.doc) && !userForm.parentDoc.$pristine),
         'has-success': signCtrl.onlyValidateCI(signCtrl.userData.student.parent2.doc) && !userForm.parentDoc.$pristine}">
        <input type="text" name="parentDoc"  class="form-control"
               placeholder="Cédula"
               ng-model="signCtrl.userData.student.parent2.doc"
               ng-keyup="signCtrl.onlyValidateCI(signCtrl.userData.student.parent2.doc)"
               />

        <i class="fa fa-times text-danger field-check" ng-hide="signCtrl.onlyValidateCI(signCtrl.userData.student.parent2.doc)"></i>
        <i class="fa fa-check text-success field-check" ng-show="signCtrl.onlyValidateCI(signCtrl.userData.student.parent2.doc) && !userForm.parentDoc.$pristine && signCtrl.userData.student.parent2.doc"></i>

        <p ng-show="userForm.student.parent.doc.$invalid && !userForm.student.parent.doc.$pristine" class="help-block">La cédula ingresada es inválida</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : userForm.parentPhoneNumber.$invalid && !userForm.parentPhoneNumber.$pristine }">
        <input type="text" name="parentPhoneNumber"  class="form-control"
               placeholder="Telefono"
               ng-model="signCtrl.userData.student.parent2.phoneNumber"
               />
        <!--<p ng-show="userForm.parentPhoneNumber.$invalid && !userForm.parentPhoneNumber.$pristine" class="help-block">Debes ingresar el telefono de uno de tus padres</p>-->
    </div>

    <div class="form-group" ng-class="{ 'has-error' : userForm.parentEmail.$invalid && !userForm.parentEmail.$pristine }">
        <input type="text" name="parentEmail"  class="form-control"
               placeholder="E-mail"
               ng-model="signCtrl.userData.student.parent2.email"
               />
        <!--<p ng-show="userForm.parentEmail.$invalid && !userForm.parentEmail.$pristine" class="help-block">Debes ingresar el email de uno de tus padres</p>-->
    </div>

    <div class="form-group" ng-class="{ 'has-error' : userForm.parentContactDetails.$invalid && !userForm.parentContactDetails.$pristine }">
        <input type="text" name="parentContactDetails"  class="form-control"
               placeholder="Hora de contacto"
               ng-model="signCtrl.userData.student.parent2.contactDetails"/>
    </div>

    <button ng-click="$previousStep()">
        <span class="fa fa-chevron-left"></span>
        Previous
    </button>

    <button ng-hide="$isLast()" ng-disabled="!signCtrl.usernameIsValid || !signCtrl.usernameIsAvailable || ($getActiveStep().hasForm && !$getActiveStep().valid)" ng-click="$nextStep()">
        Next
        <span class="fa fa-chevron-right"></span>
    </button>

    <button ng-show="$isLast()" ng-disabled="($getActiveStep().hasForm && !$getActiveStep().valid)" ng-click="signCtrl.register()">
        Finish
        <span class="fa fa-check"></span>
    </button>

</form>