<div class="pop-over-outside-trigger" ng-show="menuCtrl.notificationPopUpIsVisible" ng-click="menuCtrl.hidePopUps()"></div>
<div class="pop-over" ng-show="menuCtrl.notificationPopUpIsVisible">
    <h1><i class="fa fa-bell"></i> NOTIFICATIONS</h1>
    <div ng-controller="NotificationCtrl as nCtrl">

        <div class="item" ng-class="easeout ? 'item-ease-out' : ''"
             ng-repeat="notif in nCtrl.userNotifications | limitTo:4"
             ng-click="easeout = true; nCtrl.removeNotification(notif)">
            <i class="fa fa-bell"></i>
            <p>{{notif.title}}</p>
            <div class="notification-close-btn">X</div>
        </div>

    </div>
</div>