#canvasCharDiv {
	display: inline-block;
}

.avatar-controls-panel {
    display: inline-block;
    margin: 35px;
    padding: 20px;
	vertical-align: top;
}

.avatar-controls-panel button {
	margin: 10px;
}

.store-wrapper .trait-badge {
    top: -10px;
}

.cb-badge.unavailable-trait-badge {
    background-color: #EB193A;
    color: white;
}