<div class="middle-box text-center loginscreen animated fadeInDown" ng-controller="ImpersonateCtrl as impCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 logo">
                <img src="/app/images/cblogo.png">
                <h3>Welcome to Class Buzz</h3>
                <h5>Impersonation View</h5>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form class="m-t" role="form" name="dataForm" ng-submit="dataForm.$valid && impCtrl.login()"
                      novalidate>

                    <div class="form-group">
                        <input ng-model="impCtrl.user.userName" name="username" type="text" class="form-control"
                               placeholder="Username"
                               ng-class="{ 'ng-touched ng-dirty' : submitted && dataForm.username.$error.required}"
                               required/>
                    </div>

                    <div class="form-group">
                        <input ng-model="impCtrl.user.pass" type="password" name="pass" class="form-control"
                               placeholder="Password"
                               ng-class="{ 'ng-touched ng-dirty' : submitted && dataForm.pass.$error.required}"
                               required/>
                    </div>

                    <div class="form-group">
                        <input ng-model="impCtrl.impersonationDoc" type="text" name="doc" class="form-control"
                               placeholder="Impersonating user document"
                               ng-class="{ 'ng-touched ng-dirty' : submitted && dataForm.pass.$error.required}"
                               required/>
                    </div>

                    <p ng-messages="expression" role="alert" class="alert alert-danger" ng-show="impCtrl.erroMsg">{{impCtrl.erroMsg}}</p>
                    <button type="submit" class="block full-width m-b" ng-click="submitted=true"> Login </button>

                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row login-footer">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p class="m-t">
                    <small>Pyromancer Games © 2016</small>
                </p>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

</div>
