<div class="middle-box text-center loginscreen animated fadeInDown" ng-controller="RecoveryCtrl as recCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 logo">
                <img src="/app/images/cblogo.png">
                <h3>Forgot your password?</h3>
                <h5>Enter your email to recover it</h5>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form class="m-t" role="form" name="dataForm" ng-submit="dataForm.$valid && recCtrl.recover()"
                      novalidate>

                    <div class="form-group">
                        <input ng-model="recCtrl.userEmail" name="email" type="text" class="form-control"
                               placeholder="Email"
                               ng-class="{ 'ng-touched ng-dirty' : submitted && dataForm.email.$error.required}"
                               required/>
                    </div>


                    <p ng-messages="expression" role="alert" class="alert alert-danger" ng-show="recCtrl.errorMsg">{{recCtrl.errorMsg}}</p>
                    <p ng-messages="expression" role="alert" class="alert alert-info" ng-show="recCtrl.infoMsg">{{recCtrl.infoMsg}}</p>

                    <button type="submit" class="block full-width m-b" ng-click="submitted=true"> Recover </button>



                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row login-footer">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p class="m-t">
                    <small>Pyromancer Games © 2016</small>
                </p>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

</div>
