<div class="middle-box text-center loginscreen animated fadeInDown" ng-controller="SignupCtrl as signCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 logo">
                <h5>Crea un nueva cuenta:</h5>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">

                <multi-step-container steps="signCtrl.registerSteps" class="simple-prev-next">
                    <p>{{$getActiveStep().title}}</p>
                    <main step-container></main>

                    <header>
                        <!--<button ng-hide="$isFirst()" ng-click="$previousStep()">-->
                            <!--<span class="fa fa-chevron-left"></span>-->
                            <!--Previous-->
                        <!--</button>-->
                        <!--<strong ng-if="$getActiveStep().hasForm" class="fa" ng-class="$getActiveStep().valid ? 'fa-check' : 'fa-times'"></strong>-->

                        <!--<button ng-hide="$isLast()" ng-disabled="($getActiveStep().hasForm && !$getActiveStep().valid)" ng-click="$nextStep()">-->
                            <!--Next-->
                            <!--<span class="fa fa-chevron-right"></span>-->
                        <!--</button>-->

                        <!--<button ng-show="$isLast()" ng-disabled="($getActiveStep().hasForm && !$getActiveStep().valid)" ng-click="signCtrl.register()">-->
                            <!--Finish-->
                            <!--<span class="fa fa-check"></span>-->
                        <!--</button>-->

                    </header>
                    <p ng-messages="expression" role="alert" class="alert alert-info" ng-show="signCtrl.userMsg" ng-bind="signCtrl.userMsg"></p>
                </multi-step-container>

            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row login-footer">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </div>

</div>
