<div class="achievements-title"></div>
<div ng-controller="AchievementsCtrl as achCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <span class="ach-counter"> {{ achCtrl.distinctAchievementsReceived }} out of {{achCtrl.customerAchievements.typeRecount.reward}}</span>

                <div class="ach-grid-wrapper">
                    <div class="ach-grid-item {{ach.type}}"

                         ng-class="achCtrl.countUserAchievements(ach._id) == 0 ? 'grayscale' : ''"
                         ng-repeat="ach in achCtrl.customerAchievements.data"
                         ng-if="ach.type == 'reward'">

                        <div class="badge" ng-if="achCtrl.countUserAchievements(ach._id) > 1">
                            {{achCtrl.countUserAchievements(ach._id)}}
                        </div>

                        <i class="fa fa-lock" ng-show="achCtrl.countUserAchievements(ach._id) == 0"></i>

                        <img ng-src="{{ach.avatarURL}}"
                             ng-class="achCtrl.countUserAchievements(ach._id) == 0 ? 'grayscale' : ''">

                        <div class="ach-name">{{ach.name}}</div>

                    </div>

                </div>

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>