<div class="rankings-title"></div>
<div ng-controller="RankingsCtrl as rankCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-centered on-the-ground">
                <div class="col-content-centered">
                    <div class="rank-fourth-place">
                        <span class="pedestal"></span>

                        <div class="house-info rank-float">
                            <img class="house-crest" ng-src="{{rankCtrl.houses[3].logo}}">
                            <span class="house-score">{{rankCtrl.houses[3].score}}</span>
                        </div>

                        <span class="house-name">{{rankCtrl.houses[3].name}}</span>

                    </div>
                    <div class="rank-third-place">
                        <span class="pedestal"></span>

                        <div class="house-info rank-float-3">
                            <img class="house-crest" ng-src="{{rankCtrl.houses[2].logo}}">
                            <span class="house-score">{{rankCtrl.houses[2].score}}</span>
                        </div>

                        <span class="house-name">{{rankCtrl.houses[2].name}}</span>

                    </div>
                    <div class="rank-first-place">
                        <span class="pedestal"></span>

                        <div class="house-info rank-float-2">
                            <img class="house-crest" ng-src="{{rankCtrl.houses[0].logo}}">
                            <span class="house-score">{{rankCtrl.houses[0].score}}</span>
                        </div>

                        <span class="house-name">{{rankCtrl.houses[0].name}}</span>

                    </div>
                    <div class="rank-second-place">
                        <span class="pedestal"></span>

                        <div class="house-info rank-float-1">
                            <img class="house-crest" ng-src="{{rankCtrl.houses[1].logo}}">
                            <span class="house-score">{{rankCtrl.houses[1].score}}</span>
                        </div>

                        <span class="house-name">{{rankCtrl.houses[1].name}}</span>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>