$grid-item-width: 80px;
$grid-item-height: $grid-item-width;

.ach-name{
  text-align: center;
  display: inline-block;
  bottom: -15px;
  font-size: 10px;
  position: relative;
  left: -19px;
  width: $grid-item-width;
}

.ach-grid-wrapper{
  @extend .cb-grid-wrapper;
  background-color: rgba(29, 18, 157, 0.1);
  border: 5px solid $ui-color-1;
  @include css3-prefix('box-shadow', 0 0 0 3px $ui-color-8);
  @include border-radius( 10px );

  .ach-grid-item {
    @extend .cb-grid-item;
    //border: 4px solid $theme-brown-dark;
  }

  .reward {
    //border: 4px solid $theme-reward-color;
  }

  .penalty {
    //border: 4px solid $theme-penalty-color;
  }

}

.ach-counter{
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: -40px;
  font-size: 25px;
}

.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.achievements-title {
  @extend .page-title;
  background: url($achievements-title-url) center no-repeat;
  background-size: 200px 30px;
}