$size: 90px;

.floating-avatar {

  width: $size;
  height: $size;

  position: absolute;
  top: $outer-margin-top;
  right: $outer-margin-right + 10px;;
  color: $theme-brown-dark;
  font-weight: 800;
  z-index: 1000;
  text-align: center;

  background: url($avatar-frame-transparent-url) no-repeat;
  background-size: 100%;

  @media #{$smaller-than-medium} {
    display: none;
  }


  //SVG - Fallback
  //background-color: transparent;
  //border: 6px solid $theme-orange-light;
  //@include css3-prefix('box-shadow', 0s 0 0 3px $theme-brown-dark);

  @include border-radius(4px);

  .avatar-crop {
    position: relative;
    width: 90%;
    height: 90%;
    overflow: hidden;
    margin: auto;
    padding: 3px;

    img {
      max-width: 70%;
      padding: 10px;

      position: relative;
      margin: auto;
      min-height: 100%;
      min-width: 100%;
    }
  }

  .level-badge {
    position: absolute;
    border-radius: 50%;
    background-color: $theme-white;
    border: 3px solid $theme-brown-dark;
    width: $size * 0.35;
    height: $size * 0.35;
    text-align: center;
    padding: ($size * 0.05);
    top: -10px;
    right: -10px;
  }

  .user-name{
    position: absolute;
    right: $size + 10;
    bottom: 25px;
    text-align: right;
  }

  .gold-badge {
    $fsize: 15px;
    position: absolute;
    right: $size + ($fsize * (1.5));
    bottom: 5px;
    font-size: $fsize;
    text-align: right;

    .gold-icon {
      background: url($gold-icon-url) no-repeat;
      background-size: $fsize $fsize;
      height: $fsize + 1;
      width: $fsize + 1;
      position: absolute;
      right: -1 * ($fsize + 3);
      top: ($fsize * 10) / 100 + 1;
    }

  }

  .round-avatar {
    @include border-radius(50%);
  }

  .rounded-corners {
    @include border-radius(3px);
  }


  .xp-bar-wrapper {
    position: absolute;
    top:-10px;
    right: -10px;
    z-index: -1;
    @include rotate(180);
  }

}

.char-avatar-container {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.xp-pj {
  position: absolute;
  color: $ui-color-4;
  font-size: 12px;
  font-family: "Open Sans";
  width: 30px;
  bottom: -21px;
  left:0;
  right:0;
  margin:auto;
  z-index: 100;
}

.avatar-house-logo {
  position: absolute;
  width: 40px;
  height: 40px;
  right: $size + 10px;

  img {
    width: 100%;
    height: 100%;
  }
}