$inner-padding: 4px;
$border-radius: 7px;

.gf-button-bar {
  @include border-radius($border-radius);
  background-color: $ui-color-1;
  padding: 3px;
  border: 2px solid $ui-color-8;
  display: inline-block
}

.gf-button-group {
  @include border-radius($border-radius);
  background-color: $ui-color-5;
  border: 1px solid $ui-color-4;
  padding-right: $inner-padding;
  display: inline-block
}

.gf-button {
  @include border-radius($border-radius);
  @include background-gradient($ui-color-1,$ui-color-2);
  margin: $inner-padding 0px $inner-padding $inner-padding;
  padding: 5px 20px 5px 20px;
  float: right;
}

