.chat-view {
  position: absolute;
  right: 10px;
  bottom: 60px;
  width: 320px;
  max-height: 400px;
  min-height: 100px;
  padding-top: 5px;
  background-color: #3B653D;

  border: 6px solid $theme-orange-light;
  @include css3-prefix('box-shadow', 0 0 0 3px $theme-brown-dark);
  @include border-radius(10px 10px 0px 0px);
  @include opacity(0.8);

  font-family: Helvetica, Arial, sans-serif;
  text-shadow: none;
  font-size: 11px;

  overflow-y: scroll;

}

.bubble{
  background-color: $ui-color-4;
  border-radius: 5px;
  box-shadow: 0 0 6px #B2B2B2;
  display: block;
  padding: 10px 18px;
  position: relative;
  vertical-align: top;
}

.bubble::before {
  background-color: $ui-color-4;
  content: "\00a0";
  display: block;
  height: 16px;
  position: absolute;
  top: 11px;
  transform:         rotate( 29deg ) skew( -35deg );
  -moz-transform:    rotate( 29deg ) skew( -35deg );
  -ms-transform:     rotate( 29deg ) skew( -35deg );
  -o-transform:      rotate( 29deg ) skew( -35deg );
  -webkit-transform: rotate( 29deg ) skew( -35deg );
  width:  20px;
}
.me {

  img {
    max-width: 30px;
    max-height: 30px;
    position: absolute;
    left: -45px;
  }

  .senderInfo {
    position: absolute;
    padding: 10px;
    @include border-radius(5px);
    background-color: $ui-color-6;
    left: -25px;
  }

  background-color: $ui-color-4;
  text-align: left;
  float: left;
  clear: left;
  margin: 5px 45px 5px 50px;
}

.me::before {
  box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
  left: -9px;
}

.you {

  img {
    max-width: 30px;
    max-height: 30px;
    position: absolute;
    right: -45px;
  }

  .senderInfo {
    position: absolute;
    padding: 10px;
    @include border-radius(5px);
    background-color: $ui-color-6;
    right: -25px;
  }

  text-align: right;
  float: right;
  clear: right;
  margin: 5px 50px 5px 45px;
}

.you::before {
  box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
  right: -9px;
}

