//UI COLOR PALETTE
$ui-color-1: #fe8b2e;
$ui-color-2: #ed6914;
$ui-color-3: #843606;
$ui-color-9: #cd6825;
$ui-color-10: #fb8328;
$ui-color-11: #e85d0d;
$ui-color-4: #fffffb;
$ui-color-5: #4e340f;
$ui-color-6: #fee195;
$ui-color-7: #fcb42c;
$ui-color-8: rgba(78, 63, 22, 0.69);

//BG COLOR PALETTE
//ground
$bg-color-1: #bfee21;
$bg-color-2: #93dd30;
$bg-color-3: #8ac710;
$bg-color-4: #71aa05;
$bg-color-5: #9cc028;
$bg-color-6: #cfd8b0;
$bg-color-7: #6d9f1c;
$bg-color-8: #5b840e;
//sky
$bg-color-9: #ffffff;
$bg-color-10: #dbf4fb;
$bg-color-11: #a3e1f0;


//THEME COLOURS
$theme-text-normal-color: $ui-color-4;
$theme-text-hovered-color: $ui-color-7;
$theme-text-clicked-color: $theme-text-hovered-color;
$theme-color-1: $ui-color-5;
$theme-color-2: $ui-color-7;
$theme-penalty-color: #8b1d1a;
$theme-reward-color: #248c33;

$theme-orange-light: $ui-color-1;
$theme-orange-mid: $ui-color-2;
$theme-orange-dark: $ui-color-3;
$theme-white: $ui-color-4;
$theme-brown-dark: $ui-color-5;
$theme-cream: $ui-color-6;
$theme-yellow: $ui-color-7;
$theme-brown-light: $ui-color-8;

$primary-text-color: $ui-color-4;
$primary-background-color: $bg-color-10;


// BUTTONS
$button-background-color: $ui-color-1;
$button-text-normal-color: #66c8ff;
$button-text-hovered-color: #ccefff;
$button-text-clicked-color: #66c8ff;
$button-text-disabled-color: #9b9b9b;


// MENUS
$menu-background-color: $ui-color-1;
$menu-gradient-color-1: $ui-color-5;
$menu-gradient-color-2: $ui-color-8;
$border-color: $ui-color-3;