$button-width: 130px;
$button-height: 25px;

input {
  @include clear-style();
  @include border-radius(5px);
  width: 200px;
  background-color: $theme-orange-light;
  color: $ui-color-6;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 25px;
  padding: 0px;
  text-indent: 10px;
}

button {
  @include clear-style();
  @include border-radius(5px);
  color: $ui-color-4;
  @include text-shadow(2px, 2px, 2px, $ui-color-5);
  font-size: 12px;
  text-align: center;
  min-width: $button-width;
  height: $button-height;
  background: url($generic-button-normal-url) no-repeat center;
  @include border-radius(5px);
  margin-bottom: 15px;
  min-height: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
}

button.active {
  background: url($generic-button-press-url) no-repeat center;
  @include border-radius(5px);
  @include text-shadow(2px, 2px, 2px, $ui-color-8);
}


button:disabled {
  background: url($generic-button-disable-url) no-repeat center;
  @include border-radius(5px);
  @include text-shadow(2px, 2px, 2px, $ui-color-8);
}


button:hover:enabled {
  background: url($generic-button-hover-url) no-repeat center;
  @include border-radius(5px);
  @include text-shadow(2px, 2px, 2px, $ui-color-9);
}

::-webkit-scrollbar{
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: $ui-color-8;
  border: 3px solid $ui-color-1;
  @include border-radius( 5px );
  @include css3-prefix('box-shadow', 0 0 0 2px $ui-color-8);
}

::-webkit-scrollbar-thumb {
  background-color: $ui-color-1;
  @include border-radius( 5px );
  width: 5px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.form-group {
  position: relative;
}

.field-check {
  position: absolute;
  right: -20px;
  top: 10px;
}