$grid-item-width: 80px;
$grid-item-height: $grid-item-width;


.cb-grid-wrapper{
  overflow-y: scroll;
  @include border-radius(10px);
  max-height: 350px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

  .cb-grid-item {
    position: relative;
    background: url($round-holder-normal-url);
    background-size: 100%;

    width: $grid-item-width;
    height: $grid-item-height;
    font-size: 30px;
    text-align: center;
    margin: 6px 6px 40px 6px;
    color: $theme-brown-dark;
    @include vertical-align();
    @include border-radius(50%);
    display:inline-block;
    padding: $grid-item-width / 4;

    img {
      margin: auto;
      max-width: $grid-item-width / 2;
      max-height: $grid-item-height / 2;
    }

    .badge {
      @include badgify();
      top: -5px;
      right: -5px;
    }

    .fa {
      @include lockify();
    }

  }

  .cb-grid-item.active {
    background: url($round-holder-press-url);
    background-size: 100%;
  }

  .cb-grid-item.not-available-trait {
    background: url($round-holder-disable-url);
    background-size: 100%;
  }

  .cb-grid-item:hover{
    background: url($round-holder-hover-url);
    background-size: 100%;

    .fa {
      display: none;
    }
  }

}