.feed-container{
  background-color: rgba(29, 18, 157, 0.1);
  border: 5px solid $ui-color-1;
  @include css3-prefix('box-shadow', 0 0 0 3px $ui-color-8);
  @include border-radius( 10px );

}

.live-feed-wrapper{
  font-family: "Open Sans";
  overflow-y: scroll;
  overflow-x: hidden;
  background: url($livefeed-center-bar-url) no-repeat center;
  max-height: 60vh;
}

$scrollbar-offset: 8px;

.live-feed{
  position: relative;
  max-width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}


.feed {
  position: relative;
  width: 300px;
  padding: 25px 25px;
  color: $ui-color-4;
  background: url($livefeed-element-narrow-background-url) no-repeat center;
  background-size: 100%;
  clear: both;

  .feed-avatar {
    position: absolute;
    width: 35px;
    height: auto;
    top: 28%;
    z-index: 40;
  }

  .feed-description{
    color: $ui-color-5;
    font-weight: 600;
  }

  .feed-extra{
    font-size: 11px;
  }

}


.feed:before {
  position: absolute;
  top: 30px;
  right: -48px;
  content: ' ';
  width: 35px;
  height: 35px;
  margin-top: -10px;
  background: url($livefeed-center-dot-url) no-repeat center;
  background-size: 100%;
  z-index: 10;

  @media #{$smaller-than-medium} {
    background: none;
  }

}

.rightFeed {
  @extend .feed;
  float: left;
  text-align: right;
  padding-right: 60px;
  right: -$scrollbar-offset;

  .feed-avatar{
    right: 15px;
  }

  .feed-extra {
    text-align: left;
  }

  @media #{$smaller-than-medium} {
    float: none;
    margin: auto;
  }
}

.leftFeed {
  @extend .feed;
  float: right;
  text-align: left;
  padding-left: 60px;
  left: $scrollbar-offset;

  .feed-avatar{
    left: 15px;
  }

  .feed-extra {
    text-align: right;
  }

  @media #{$smaller-than-medium} {
    float: none;
    margin: auto;
  }
}

.leftFeed:before {
  left: -48px;
}

.live-feed-title {
  @extend .page-title;
  background: url($livefeed-title-url) center no-repeat;
  background-size: 200px 30px;
}