$bottom-menu-item-width: 100px;
$bottom-menu-item-height: 25px;


.gf-menu {
  min-width: 250px;
  list-style: none;
  padding: 20px;
  position: relative;
  @include border-radius(5px);
  text-align: center;

  @include text-shadow(2px, 2px, 2px, $ui-color-5);

  .fa {
    color: $theme-text-normal-color;
  }

  li {
    position: relative;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    min-width: $bottom-menu-item-width;
    height: $bottom-menu-item-height;
    background: url($generic-button-normal-url) no-repeat center;
    @include border-radius(5px);

    .menu-item {

      :not(.cb-badge):hover {
        background: url($generic-button-hover-url) no-repeat center;
        @include border-radius(5px);
        @include text-shadow(2px, 2px, 2px, $ui-color-9);
      }

    }

    .menu-item.active {
      background: url($generic-button-press-url) no-repeat center;
      @include border-radius(5px);
      @include text-shadow(2px, 2px, 2px, $ui-color-8);
    }

    a {
      color: $theme-text-normal-color;
      text-decoration: none;
      display: block;
      padding: 5px;
    }

  }

  @media #{$small-screen} {
    display: none;
  }
}

.gf-bottom-menu {
  @extend  .gf-menu;
  background: url($button-bar-short-url) no-repeat center;
  background-size: 100%;
  margin-right: $outer-margin-right;
  margin-bottom: $outer-margin-bottom;
}

.gf-chat-menu {
  @extend .gf-menu;
  background: url($button-bar-short-url) no-repeat center;
  background-size: 100%;
  //margin-right: 20px;
  margin-bottom: $outer-margin-bottom;
}

.gf-top-menu {
  @extend  .gf-menu;
  background: url($button-bar-long-url) no-repeat center;
  background-size: 100%;
  margin-left: $outer-margin-right;
  margin-top: $outer-margin-top;
}


.hamburguer{
  position: absolute;
  font-size: 30px;
  width: 40px;
  height: 40px;
  color: $ui-color-4;
  background-color: $ui-color-2;
  text-align: center;
  //@include border-radius(50%);

  @media #{$bigger-than-small} {
    display: none;
  }
}

.bottom-hamburguer{

  @extend .hamburguer;
  background-color: lighten($ui-color-5, 20%);
  right: 0px;
  bottom: 50px;
  z-index: 100;

}

.gf-bottom-menu-mobile {
  position: absolute;
  bottom: -50px;
  width: 100vw;
  height: 50px;
  background-color: $ui-color-5;
  text-align: center;
  color: $ui-color-4;

  ul {

    list-style: none;
    height: 100%;
    padding: 0;
    margin-bottom: 10px;

    li {

      position: relative;
      display: inline-block;
      font-size: 15px;
      text-align: center;
      min-width: 20%;
      height: 100%;
    }

    li:hover{
      background-color: lighten($ui-color-5, 20%);
    }
  }

  a {
    color: $ui-color-4;
    text-decoration: none;
    display: block;
    padding: 15px;
  }

  @media #{$bigger-than-small} {
    display: none;
  }

  @include transition(bottom, 0.5s, ease-in-out);
}

.gf-left-menu-mobile {
  position: absolute;
  left: -200px;
  width: 200px;
  height: 100vh;
  background-color: $ui-color-5;
  color: $ui-color-4;

  ul{

    list-style: none;
    width: 100%;
    padding: 0;
    margin-left: 10px;

    li {
      min-height: 40px;
      font-size: 20px;
    }

    li:hover{
      background-color: lighten($ui-color-5, 20%);
    }
  }

  a {
    color: $ui-color-4;
    text-decoration: none;
  }

  @media #{$bigger-than-small} {
    display: none;
  }

  @include transition(left, 0.5s, ease-in-out);

}

.left-drawer-ease-in {
  left: 0px;
}

.bottom-drawer-ease-in {
  bottom: 0px;
}

.left-hamburguer{
  @extend .hamburguer;
  background-color: lighten($ui-color-5, 20%);
  top: 0px;
  left: 200px;
  z-index: 100;
}

.menu-avatar{
  max-width: 100px;
  max-height: 100px;
  overflow: hidden;

  img {
    max-width: 50%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    min-height: 100%;
    min-width: 40%;
  }

}

.menu-user-name{
  font-size: 14px;
  font-family: 'Open Sans';
  color: $ui-color-4;
}

.menu-level-badge {
  font-family: 'Open Sans';
  font-size: 12px;
  color: $ui-color-2;
}

.menu-gold-badge {
  font-family: 'Open Sans';
  font-size: 12px;
  color: $ui-color-2;
}

.drawer-outside-trigger{
  width: 100vw;
  height: 100vh;
}

.bottom-drawer-menu-outside-trigger{
  @extend .drawer-outside-trigger;
}

.left-drawer-menu-outside-trigger{
  @extend .drawer-outside-trigger;
  position: absolute;
}