@mixin vertical-align() {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@mixin badgify(){
  position: absolute;
  border-radius: 50%;
  background-color: $theme-white;
  border: 3px solid $theme-brown-dark;
  color: $theme-brown-dark;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 4px;
  top: -20px;
  right: -20px;
  font-size: 15px;
  text-shadow: none;
}

@mixin lockify(){
  position: absolute;
  border-radius: 50%;
  background-color: #a7a7a7;
  border: 3px solid $theme-brown-dark;
  color: $theme-brown-dark;
  width: 45px;
  height: 45px;
  text-align: center;
  padding: 4px;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  font-size: 30px;
  z-index: 100;

}


@mixin appearance ($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  -ms-appearance: $value;
  -o-appearance: $value;
  appearance: $value;
}

@mixin clear-style(){
  @include appearance(none);
  @include border-radius(0);
  outline: 0;
  border: none;
}

@mixin perfect-background($url){
  background: url($url) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin windify {
  background-color: rgba(29, 18, 157, 0.1);
  border: 5px solid $ui-color-1;
  @include css3-prefix('box-shadow', 0 0 0 3px $ui-color-8);
  @include border-radius( 10px );
}
