.notification-pullup{
  width: 200px;
  min-height: 50px;
  background-color: $theme-cream;
  text-align: center;
  padding: 20px;
  border: 6px solid $theme-orange-light;
  position: absolute;
  right: 80px;
  bottom: 100px;
  @include border-radius(10px);
  @include vertical-align();
  @include css3-prefix('box-shadow', 0 0 0 3px $theme-brown-dark);
  @include transition(right, 1s, ease-in);

  .close-button {
    @include badgify();
  }
}

.easeIn {
  right: 80px;
}

.easeOut {
  right: -250px;
}

.notification-close-btn {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 10px;
  top: 15px;
  background: transparent;
  cursor: hand;
  cursor: pointer
}