//VARS
$box-width: 320px;

.pop-over-outside-trigger {
  width: 100vw;
  height: 100vh;
}

.pop-over {
  border: 6px solid $theme-orange-light;
  @include css3-prefix('box-shadow', 0 0 0 3px $theme-brown-dark);
  @include border-radius(10px);
  background-color: #3B653D;
  padding-bottom: 5px;
  position: absolute;
  width: $box-width;
  bottom: 90px;
  right: 91px;
  text-align: center;

  h1 {
    position: relative;
    top: 5px;
    font-size: 30px;
    color: $ui-color-4;
    font-weight: 800;
  }

  .item {
    position: relative;
    right: 0px;
    background: url($popup-gold-normal-url) no-repeat center;
    background-size: 100%;
    min-width: 100%;
    height: $box-width * (0.333333);
    margin-bottom: -$box-width * (0.0333);
    @include vertical-align();
    padding-left: 55px;
    padding-right: 55px;
    color: $ui-color-4;
    @include text-shadow(2px, 2px, 2px, $ui-color-5);
    @include transition(right, 1s, ease-out);

    i {
      font-size: 29px;
      position: absolute;
      top: 41px;
      left: 30px;
    }
  }

  .item-ease-out {
    right: -600px;
  }

  p {
    margin: 0px 20px 0px 20px;
    font-size: 12px;
  }

  @media #{$smaller-than-620} {
    width: 60%;
    right: 0;
    bottom: 65px;
    left: 0;
    margin: auto;
    min-width: 320px;
  }

}


