.pedestal-wrapper{
  display: inline-block;
  min-width: 100px;
  min-height: 200px;
  position: relative;
}

.pedestal {
  position: absolute;
  bottom: 0px;
}

.house-crest {
  position: absolute;
  width: 70%;
  margin: auto;
  left: 0;
  right: 0;
  max-height: 70px;
  @include svg-drop-shadow();

}

.house-score {
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 900;
}

.house-name {
  position: absolute;
  bottom: -20px;
  text-align: center;
  width: 100%;
}

.rank-first-place {
  @extend .pedestal-wrapper;
  .pedestal {
    content: url($ranking-pedestal-1-url);
  }

  .house-crest {
    top: -80px;
  }

  .house-score {
    top: -100px
  }
}

.rank-second-place {
  @extend .pedestal-wrapper;
  .pedestal {
    content: url($ranking-pedestal-2-url);
  }

  .house-crest {
    top: -50px;
  }

  .house-score {
    top: -70px
  }
}

.rank-third-place {
  @extend .pedestal-wrapper;
  .pedestal {
    content: url($ranking-pedestal-3-url);
  }

  .house-crest {
    top: -20px;
  }

  .house-score {
    top: -40px
  }
}

.rank-fourth-place {
  @extend .pedestal-wrapper;
  .pedestal {
    content: url($ranking-pedestal-4-url);
  }

  .house-crest {
    top: 10px;
  }

  .house-score {
    top: -10px
  }
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.col-content-centered {
  display: table;
  margin: 0 auto;
}

.on-the-ground {
  //margin-top: 40vh;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 120px;
}


.rank-float{
  @include animation(rankfloat 3s linear 0s infinite);
  @include transform-origin(50% 50%);
}

.rank-float-1{
  @include animation(rankfloat 3s linear 0.5s infinite);
  @include transform-origin(50% 50%);
}

.rank-float-2{
  @include animation(rankfloat 3s linear 1s infinite);
  @include transform-origin(50% 50%);
}

.rank-float-3{
  @include animation(rankfloat 3s linear 1.5s infinite);
  @include transform-origin(50% 50%);
}

@include keyframes(rankfloat){
  0% {
    @include css3-prefix('transform', translate(0px,0px));
  }

  25% {
    @include css3-prefix('transform', translate(0px,-3px));
  }

  50% {
    @include css3-prefix('transform', translate(0px,0px));
  }

  75% {
    @include css3-prefix('transform', translate(0px,3px));
  }

  100% {
    @include css3-prefix('transform', translate(0px,0px));
  }
}

.rank-wobble {
  @include animation(rankwobble 1s linear 0s infinite);
  @include transform-origin(50% 50%);
}

@include keyframes(rankwobble) {
  0%  { @include css3-prefix('transform', rotate(-4deg));}
  50% { @include css3-prefix('transform', rotate(4deg));}
  100%{ @include css3-prefix('transform', rotate(-4deg));}
}


.rankings-title {
  @extend .page-title;
  background: url($rankings-title-url) center no-repeat;
  background-size: 200px 30px;
}