#loadFacebookG{
  width:42px;
  height: 42px;
  display: block;
  position: relative;
  margin:auto;
  top: -40px;
}

.facebook_blockG{
  background-color:rgb(76,53,13);
  border:1px solid rgb(76,53,13);
  float:left;
  height:30px;
  margin-left:2px;
  width:8px;
  opacity:0.1;
  animation-name:bounceG;
  -o-animation-name:bounceG;
  -ms-animation-name:bounceG;
  -webkit-animation-name:bounceG;
  -moz-animation-name:bounceG;
  animation-duration:1.3s;
  -o-animation-duration:1.3s;
  -ms-animation-duration:1.3s;
  -webkit-animation-duration:1.3s;
  -moz-animation-duration:1.3s;
  animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  animation-direction:normal;
  -o-animation-direction:normal;
  -ms-animation-direction:normal;
  -webkit-animation-direction:normal;
  -moz-animation-direction:normal;
  transform:scale(0.7);
  -o-transform:scale(0.7);
  -ms-transform:scale(0.7);
  -webkit-transform:scale(0.7);
  -moz-transform:scale(0.7);
}

#blockG_1{
  animation-delay:0.39s;
  -o-animation-delay:0.39s;
  -ms-animation-delay:0.39s;
  -webkit-animation-delay:0.39s;
  -moz-animation-delay:0.39s;
}

#blockG_2{
  animation-delay:0.52s;
  -o-animation-delay:0.52s;
  -ms-animation-delay:0.52s;
  -webkit-animation-delay:0.52s;
  -moz-animation-delay:0.52s;
}

#blockG_3{
  animation-delay:0.65s;
  -o-animation-delay:0.65s;
  -ms-animation-delay:0.65s;
  -webkit-animation-delay:0.65s;
  -moz-animation-delay:0.65s;
}



@keyframes bounceG{
  0%{
    transform:scale(1.2);
    opacity:1;
  }

  100%{
    transform:scale(0.7);
    opacity:0.1;
  }
}

@-o-keyframes bounceG{
  0%{
    -o-transform:scale(1.2);
    opacity:1;
  }

  100%{
    -o-transform:scale(0.7);
    opacity:0.1;
  }
}

@-ms-keyframes bounceG{
  0%{
    -ms-transform:scale(1.2);
    opacity:1;
  }

  100%{
    -ms-transform:scale(0.7);
    opacity:0.1;
  }
}

@-webkit-keyframes bounceG{
  0%{
    -webkit-transform:scale(1.2);
    opacity:1;
  }

  100%{
    -webkit-transform:scale(0.7);
    opacity:0.1;
  }
}

@-moz-keyframes bounceG{
  0%{
    -moz-transform:scale(1.2);
    opacity:1;
  }

  100%{
    -moz-transform:scale(0.7);
    opacity:0.1;
  }
}