$store-item-width: 80px;
$store-item-height: $store-item-width;

.store-wrapper{
  @extend .cb-grid-wrapper;

  .store-item {
    @extend .cb-grid-item;
    width: $store-item-width;
    height: $store-item-height;

  }

  .trait-badge {
      top: -10px;
  }

}

.canvas-wrapper{
  text-align: center;
}

.vertical-align {
  @include vertical-align();
}

.store-title {
  @extend .page-title;
  background: url($store-title-url) center no-repeat;
  background-size: 200px 30px;
}

.cant-buy-traitcontainer {
	padding: 20px;
} 

.buy-trait-container {
       display: none;
}

.store-item.not-available-trait.active .buy-trait-container {
       display: block;
}

.trait-price {
       font-size: 13px; color: #FFCD01;
       text-shadow: 2px 2px 2px #4e340f;
      background: gray;
      border: 1px solid black;
      padding: 2px
}

.buy-trait-btn {
       min-width: 35px;
       font-size: 12px;
       min-height: 15px;
       height: 28px;
       position: absolute;
       top: 25px;
	   left: 14px;
	   padding: 8px 15px;
}

.buy-trait-container {
  display: none;
}

.store-item.not-available-trait.active .buy-trait-container {
  display: block;
}

.trait-price {
  font-size: 13px; color: #FFCD01;
  text-shadow: 2px 2px 2px #4e340f;
  background: gray;
  border: 1px solid black;
  padding: 2px
}

.buy-trait-btn {
  min-width: 35px;
  font-size: 12px;
  min-height: 15px;
  height: 28px;
  position: absolute;
  top: 25px;
  left: 23px;
}

.cb-badge.unavailable-trait-badge {
  background-color: #EB193A;
  color: white;
}