.nav-pills > li > a {
  color: $ui-color-8;
  background-color:$ui-color-1;
}

.nav-pills > li > a:hover {
  background-color:lighten($ui-color-2,30%);
}

.nav-pills > li.active > a {
  @include text-shadow(2px, 2px, 2px, $ui-color-5);
  background-color:$ui-color-2;
}

.nav-pills > li.active > a:hover {
  background-color:lighten($ui-color-2,30%);
}

.nav-pills > li.active > a:focus {
  background-color:$ui-color-2;
}

.cb-nav {
  margin-bottom: 15px;
}