.profile-avatar{
  padding: 40px;
  max-height: 380px;
  max-width: 300px;
}

.profile-form{
  height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
  color: $ui-color-8;
  padding: 30px;
  @include windify();
}

.password-wrapper{
  padding: 50px;
  @include windify();
}

.flash-message {
  @include border-radius(10px);
  padding: 8px 15px 8px 15px;
  display: inline-block;
  background-color: $ui-color-2;
  color: $ui-color-4;
  @include text-shadow(2px, 2px, 2px, $ui-color-5);
}