$outer-margin-right: 80px;
$outer-margin-left: 80px;
$outer-margin-top: 30px;
$outer-margin-bottom: 30px;


$gold-icon-url: '/app/images/ui/ui-25.svg';
$avatar-frame-transparent-url: '/app/images/ui/ui-31.svg';
$avatar-frame-background-url: '/app/images/ui/ui-30.svg';
$background-url: '/app/images/ui/ui-71.png';

$popup-item-normal-url: '/app/images/ui/ui-12.svg';
$popup-item-hover-url: '/app/images/ui/ui-11.svg';
$popup-item-press-url: '/app/images/ui/ui-10.svg';
$popup-item-disable-url: '/app/images/ui/ui-09.svg';

$popup-gold-normal-url: '/app/images/ui/popup-01.svg';
$popup-gold-hover-url: '/app/images/ui/popup-02.svg';
$popup-gold-press-url: '/app/images/ui/popup-03.svg';
$popup-gold-disable-url: '/app/images/ui/popup-04.svg';

$ranking-pedestal-2-url: '/app/images/ui/ui-13.svg';
$ranking-pedestal-1-url: '/app/images/ui/ui-14.svg';
$ranking-pedestal-3-url: '/app/images/ui/ui-15.svg';
$ranking-pedestal-4-url: '/app/images/ui/ui-16.svg';


$shadow-url: '/app/images/ui/ui-17.svg';

$rankings-title-url: '/app/images/ui/ui-18.svg';
$livefeed-title-url: '/app/images/ui/ui-22.svg';
$store-title-url: '/app/images/ui/ui-06.svg';
$settings-title-url: '/app/images/ui/ui-59.svg';
$achievements-title-url: '/app/images/ui/ui-title-01.svg';

$round-holder-normal-url: '/app/images/ui/ui-01.svg';
$round-holder-hover-url: '/app/images/ui/ui-02.svg';
$round-holder-press-url: '/app/images/ui/ui-03.svg';
$round-holder-disable-url: '/app/images/ui/ui-04.svg';


$blackboard-panel-url: '/app/images/ui/ui-07.svg';
$callout-arrow-url: '/app/images/ui/ui-08.svg';

$livefeed-center-dot-url: '/app/images/ui/ui-20.svg';
$livefeed-element-background-url: '/app/images/ui/ui-21.svg';
$livefeed-element-narrow-background-url: '/app/images/ui/livefeed-01.svg';
$livefeed-center-bar-url: '/app/images/ui/barberpole-01.svg';
$livefeed-scrollbar-url: '/app/images/ui/ui-19.svg';
$livefeed-center-circle-url: '/app/images/ui/feedCenter-02.svg';

$button-bar-long-url: '/app/images/ui/ui-32.svg';
$button-bar-extra-long-url: '/app/images/ui/buttonbar-long-02.svg';
$button-bar-short-url: '/app/images/ui/ui-33.svg';

$notifications-button-normal-url: '/app/images/ui/ui-26.svg';
$notifications-button-hover-url: '/app/images/ui/ui-27.svg';
$notifications-button-press-url: '/app/images/ui/ui-28.svg';
$notifications-button-disable-url: '/app/images/ui/ui-29.svg';

$settings-button-normal-url: '/app/images/ui/ui-35.svg';
$settings-button-hover-url: '/app/images/ui/ui-36.svg';
$settings-button-press-url: '/app/images/ui/ui-37.svg';
$settings-button-disable-url: '/app/images/ui/ui-38.svg';

$achievements-button-normal-url: '/app/images/ui/ui-39.svg';
$achievements-button-hover-url: '/app/images/ui/ui-40.svg';
$achievements-button-press-url: '/app/images/ui/ui-41.svg';
$achievements-button-disable-url: '/app/images/ui/ui-42.svg';

$quests-button-normal-url: '/app/images/ui/ui-43.svg';
$quests-button-hover-url: '/app/images/ui/ui-44.svg';
$quests-button-press-url: '/app/images/ui/ui-45.svg';
$quests-button-disable-url: '/app/images/ui/ui-46.svg';

$store-button-normal-url: '/app/images/ui/ui-47.svg';
$store-button-hover-url: '/app/images/ui/ui-48.svg';
$store-button-press-url: '/app/images/ui/ui-49.svg';
$store-button-disable-url: '/app/images/ui/ui-50.svg';

$livefeed-button-normal-url: '/app/images/ui/ui-51.svg';
$livefeed-button-hover-url: '/app/images/ui/ui-52.svg';
$livefeed-button-press-url: '/app/images/ui/ui-53.svg';
$livefeed-button-disable-url: '/app/images/ui/ui-54.svg';

$rankings-button-normal-url: '/app/images/ui/ui-55.svg';
$rankings-button-hover-url: '/app/images/ui/ui-56.svg';
$rankings-button-press-url: '/app/images/ui/ui-57.svg';
$rankings-button-disable-url: '/app/images/ui/ui-58.svg';

$generic-button-normal-url: '/app/images/ui/ui-68.svg';
$generic-button-hover-url: '/app/images/ui/ui-69.svg';
$generic-button-press-url: '/app/images/ui/ui-70.svg';
$generic-button-disable-url: '/app/images/ui/ui-71.svg';

$small-screen: 'screen and (max-width: 900px)';
$medium-screen: 'screen and (min-width: 901px) and (max-width: 1199px)';
$large-screen: 'screen and (min-width: 1200px)';
$medium-and-small-screen: 'screen and (max-width: 1500px)';
$smaller-than-medium: 'screen and (max-width: 1199px)';
$smaller-than-620: 'screen and (max-width: 620px)';
$bigger-than-small: 'screen and (min-width: 900px)';



