<div>
    <div ng-hide="canClose"> <p>Hi, we are going to sort you into your house.</p> <p>Spin the roulette to know your new home!!</p></div>
    <div ng-show="canClose"> <p>Congratulations! You were sorted to:</p></div>

    <house-spinner houses-to-sort="spinCtrl.housesToSort" ng-hide="canClose"></house-spinner>

    <div class="spinner-house-data">
        <img ng-src="{{selectedHouse.logo}}">
        <p>{{selectedHouse.name}}</p>
    </div>

    <div>
        <button ng-click='closeModal()' ng-show="canClose">Close</button>
    </div>

</div>