<div ng-controller="CharCanvasCtrl as charCtrl">
	
	<!--<input ng-model="charCtrl.char.name" type="text"/>-->
	<div class="avatar-controls-panel col-lg-3">
		<br/>
		<a  href ng-click="charCtrl.updateModelSelected('body')" >Body</a>
		|
		<a href ng-click="charCtrl.updateModelSelected('wearable')" >Wearables</a>
		
		<br/>
		<br/>
		
		<a  ng-click="charCtrl.updatePartSelected('head')" >Head</a>
		<a  ng-click="charCtrl.updatePartSelected('eyes')" >Eyes</a>
		<a  ng-click="charCtrl.updatePartSelected('mouth')" >Mouth</a>
		<br/>
		<a  ng-click="charCtrl.updatePartSelected('eyebrow')" >Eyebrows</a>
		<a  ng-click="charCtrl.updatePartSelected('hair')" >Hair</a>
		<a  ng-click="charCtrl.updatePartSelected('facialHair')" >Facial Hair</a>
		<br/>
		<a  ng-click="charCtrl.updatePartSelected('chest')" >Chest</a>
		<a  ng-click="charCtrl.updatePartSelected('legs')" >Legs</a>
		<br/>
		<a  ng-click="charCtrl.updatePartSelected('rightHand')" >Right Hand</a>
		<a  ng-click="charCtrl.updatePartSelected('feet')" >Feet</a>
	</div>
	
	<gameCanvas></gameCanvas>
	
    <!--<char-avatar class="col-lg-4" 
		charname ="{{charCtrl.char.name}}" 
		eyecolor ="{{charCtrl.char.eyecolor}}"
		hairModel ="{{charCtrl.char.head.hair.model}}"
		hairColor = "{{charCtrl.char.head.hair.color}}"
		modeltowatch = "charCtrl.modelToWatch"
	>

	</char-avatar>-->

	<div class="avatar-controls-panel col-lg-4">
		<div class="col-lg-3" ng-repeat="trait in charCtrl.allTraits" ng-show="charCtrl.mSelected == trait.traitType && charCtrl.pSelected == trait.placement">

			<a href ng-click="charCtrl.setPreviewPart(charCtrl.mSelected, trait)">
			<img alt="image" class="img-circle m-t-xs img-responsive" ng-src="{{trait.previewImageURL}}" style="max-width:40px; max-height:30px;" />
			<br />
			Price <span class="badge badge-primary">{{trait.price}}</span>
			<br />
			User can buy <span class="badge badge-primary">{{trait.userCanBuy}}</span>
			</a>
		</div>
	</div>
	
	
</div>
<div class="clearfix"></div>