<div class="chat-view">
    <div class="bubble" ng-class="chatMessage.class" ng-repeat="chatMessage in chatCtrl.chatHistory track by $index">
        <img ng-src="{{chatMessage.sender.avatarURL}}" ng-mouseenter="isHovering = true" ng-mouseleave="isHovering = false">
        <span class="senderInfo" ng-show="isHovering">{{chatMessage.sender.firstName}} {{chatMessage.sender.lastName}}</span>
        {{chatMessage.message}}
    </div>

</div>

