<div class="notification-pullup" ng-class="menuCtrl.newQuestIsAvailable ? 'easeIn': 'easeOut'">
    <div class="close-button" ng-click="menuCtrl.hideQuestPullUp()">X</div>
    YOU HAVE A NEW QUEST!!
</div>