<div class="pop-over-outside-trigger" ng-show="menuCtrl.questPopUpIsVisible" ng-click="menuCtrl.hidePopUps()"></div>
<div class="pop-over" ng-show="menuCtrl.questPopUpIsVisible">
    <h1><i class="fa fa-exclamation"></i> QUESTS</h1>
    <div ng-controller="QuestCtrl as qCtrl">
        <div class="item" ng-repeat="quest in qCtrl.userQuests | limitTo:3" uib-tooltip-html="quest.questInfo" tooltip-placement="left">
            <i class="fa fa-trophy"></i>
            <p>{{quest.quest.name}}</p>
            <span class="quest-reward">{{quest.quest.reward}}G</span>
        </div>
    </div>
</div>
