<div ng-controller="UserCtrl as userCtrl">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 password-wrapper">
                <form ng-submit="userCtrl.updatePassword()">

                    <div class="form-group">
                        <label for="userNewPass">New Password</label>
                        <input type="password" required class="form-control" id="userNewPass" placeholder="New Password"
                               ng-model="userCtrl.passwordReset.newPassword">

                        <label for="userConfirmPassword">Confirm Password</label>
                        <input type="password" required class="form-control" id="userConfirmPassword"
                               placeholder="Confirm Password"
                               ng-model="userCtrl.passwordReset.confirmPassword">
                    </div>

                    <button type="submit">Change Password</button>
                    <div class="flash-message center-block" ng-show="userCtrl.flashMessage != ''">
                        {{userCtrl.flashMessage}}
                    </div>

                    <div id="loadFacebookG" ng-show="userCtrl.loading">
                        <div id="blockG_1" class="facebook_blockG"></div>
                        <div id="blockG_2" class="facebook_blockG"></div>
                        <div id="blockG_3" class="facebook_blockG"></div>
                    </div>

                </form>
            </div>
            <div class="col-md-4"></div>


        </div>
    </div>
</div>
