<div ng-controller="UserCtrl as userCtrl">
    <div class="container-fluid">
        <form>
            <div class="row">
                <div class="col-md-1"></div>

                <div class="col-md-10 profile-form">

                    <div class="col-md-6">
                        <img class="profile-avatar center-block" ng-src="{{userCtrl.userProfile.avatarURL}}">
                    </div>

                    <div class="col-md-6">
                        <section class="tab" ng-controller="TabCtrl as tab">

                            <ul class="nav nav-pills cb-nav">
                                <li ng-class="{ active: tab.isSet(1) }">
                                    <a href ng-click="tab.setTab(1)">Basic Info</a></li>
                                <li ng-class="{ active: tab.isSet(2) }">
                                    <a href ng-click="tab.setTab(2)">Address</a></li>
                                <li ng-class="{ active: tab.isSet(3) }">
                                    <a href ng-click="tab.setTab(3)">Parent Info</a></li>
                                <li ng-class="{ active: tab.isSet(4) }">
                                    <a href ng-click="tab.setTab(4)">Other Parent</a></li>
                            </ul>

                            <div ng-show="tab.isSet(1)">
                                <div class="form-group">
                                    <label for="userFirstName">First Name</label>
                                    <input type="text" class="form-control" id="userFirstName" placeholder="First Name"
                                           ng-model="userCtrl.userProfile.firstName">

                                    <label for="userLastName">Last Name</label>
                                    <input type="text" class="form-control" id="userLastName" placeholder="Last Name"
                                           ng-model="userCtrl.userProfile.lastName">

                                    <label for="userEmail">Email</label>
                                    <input type="email" class="form-control" id="userEmail" placeholder="Email"
                                           ng-model="userCtrl.userProfile.email">

                                    <label for="userPhoneNumber">Phone</label>
                                    <input type="tel" class="form-control" id="userPhoneNumber" placeholder="Phone"
                                           ng-model="userCtrl.userProfile.phoneNumber">
                                </div>
                            </div>
                            <div ng-show="tab.isSet(2)">
                                <div class="form-group">
                                    <label for="userAddStreet">Street</label>
                                    <input type="text" class="form-control" id="userAddStreet" placeholder="Street"
                                           ng-model="userCtrl.userProfile.address.street">

                                    <label for="userAddrNumber">Number</label>
                                    <input type="text" class="form-control" id="userAddrNumber" placeholder="Number"
                                           ng-model="userCtrl.userProfile.address.number">

                                    <label for="userAddrCity">City</label>
                                    <input type="text" class="form-control" id="userAddrCity" placeholder="City"
                                           ng-model="userCtrl.userProfile.address.city">

                                    <label for="userAddrState">State</label>
                                    <input type="text" class="form-control" id="userAddrState" placeholder="State"
                                           ng-model="userCtrl.userProfile.address.state">

                                    <label for="userAddrZip">Zip</label>
                                    <input type="text" class="form-control" id="userAddrZip" placeholder="Zip"
                                           ng-model="userCtrl.userProfile.address.zip">
                                </div>

                            </div>
                            <div ng-show="tab.isSet(3)">
                                <div class="form-group">
                                    <label for="userParentFirstName">First Name</label>
                                    <input type="text" class="form-control" id="userParentFirstName"
                                           placeholder="Parent first name"
                                           ng-model="userCtrl.userProfile.student.parent.firstName">

                                    <label for="userParentLastName">Last Name</label>
                                    <input type="text" class="form-control" id="userParentLastName"
                                           placeholder="Parent last name"
                                           ng-model="userCtrl.userProfile.student.parent.lastName">

                                    <label for="userParentCI">CI</label>
                                    <input type="tel" class="form-control" id="userParentCI"
                                           placeholder="Parent CI"
                                           ng-model="userCtrl.userProfile.student.parent.doc">

                                    <label for="userParentPhone">Phone Number</label>
                                    <input type="tel" class="form-control" id="userParentPhone"
                                           placeholder="Parent phone number"
                                           ng-model="userCtrl.userProfile.student.parent.phoneNumber">

                                    <label for="userParentEmail">Email</label>
                                    <input type="email" class="form-control" id="userParentEmail"
                                           placeholder="Parent email"
                                           ng-model="userCtrl.userProfile.student.parent.email">

                                    <label for="userParentDetails">Contact Hours</label>
                                    <input type="text" class="form-control" id="userParentDetails"
                                           placeholder="Parent contact details"
                                           ng-model="userCtrl.userProfile.student.parent.contactDetails">

                                </div>
                            </div>

                            <div ng-show="tab.isSet(4)">
                                <div class="form-group">
                                    <label for="userParent2FirstName">First Name</label>
                                    <input type="text" class="form-control" id="userParent2FirstName"
                                           placeholder="Parent first name"
                                           ng-model="userCtrl.userProfile.student.parent2.firstName">

                                    <label for="userParent2LastName">Last Name</label>
                                    <input type="text" class="form-control" id="userParent2LastName"
                                           placeholder="Parent last name"
                                           ng-model="userCtrl.userProfile.student.parent2.lastName">

                                    <label for="userParent2CI">CI</label>
                                    <input type="tel" class="form-control" id="userParent2CI"
                                           placeholder="Parent CI"
                                           ng-model="userCtrl.userProfile.student.parent2.doc">

                                    <label for="userParent2Phone">Phone Number</label>
                                    <input type="tel" class="form-control" id="userParent2Phone"
                                           placeholder="Parent phone number"
                                           ng-model="userCtrl.userProfile.student.parent2.phoneNumber">

                                    <label for="userParent2Email">Email</label>
                                    <input type="email" class="form-control" id="userParent2Email"
                                           placeholder="Parent email"
                                           ng-model="userCtrl.userProfile.student.parent2.email">

                                    <label for="userParent2Details">Contact Hours</label>
                                    <input type="text" class="form-control" id="userParent2Details"
                                           placeholder="Parent contact details"
                                           ng-model="userCtrl.userProfile.student.parent2.contactDetails">

                                </div>
                            </div>

                        </section>

                        <button ng-click="userCtrl.updateProfile()">Update Profile</button>
                        <div id="loadFacebookG" ng-show="userCtrl.loading">
                            <div id="blockG_1" class="facebook_blockG"></div>
                            <div id="blockG_2" class="facebook_blockG"></div>
                            <div id="blockG_3" class="facebook_blockG"></div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="col -md-1"></div>
    </div>
    </form>
</div>
</div>