<div ng-controller="SettingsCtrl as settCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                Settings
            </div>
        </div>
    </div>

</div>