
<div class="store-item" ng-click="charCtrl.checkSelectedBodyColour('A')"> 
<!--ng-class="{'active': charCtrl.checkSelectedBodyColour('A')}">-->
	
	<img class="preview-img" alt="trait"  src="/app/images/chars/traitIcons/bodyColourA.png" />
	<span class="trait-price">Free</span>
</div>
<div class="store-item" ng-click="charCtrl.checkSelectedBodyColour('B')">
<!--ng-class="{'active': charCtrl.checkSelectedBodyColour('B')}">-->
	
	<img class="preview-img"  src="/app/images/chars/traitIcons/bodyColourB.png" />
	<span class="trait-price">Free</span>
</div>
<div class="store-item" ng-click="charCtrl.checkSelectedBodyColour('C')"> 
<!--ng-class="{'active': charCtrl.checkSelectedBodyColour('C')}">-->
	
	<img class="preview-img" alt="trait"  src="/app/images/chars/traitIcons/bodyColourC.png" />
	<span class="trait-price">Free</span>
</div>