<div class="ibox-content text-center " 
style="margin-bottom: 15px; background: none; border: none;">
    <ul class="pagination">
        <li ng-class="charCtrl.prevPageDisabled()">
        <a href ng-click="charCtrl.prevPage()"><i class="fa fa-chevron-left"></i></a>
        </li>
        <li ng-repeat="n in charCtrl.paginationControllers" ng-class="{active: n == charCtrl.page - 1}">
            <a href ng-click="charCtrl.setPage(n+1)" >{{n+1}}</a>
        </li>
        <li ng-class="charCtrl.nextPageDisabled()">
            <a href ng-click="charCtrl.nextPage()"><i class="fa fa-chevron-right"></i></a>
        </li>
    </ul>
</div>