<div class="store-title"></div>
<div ng-controller="CharCanvasCtrl as charCtrl">
	<img ng-src="{{charCtrl.avatarURL}}" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="store-wrapper">
					<div>
					<button type="button" ng-class="charCtrl.mSelected == 'body' ? 'active' : ''" ng-click="charCtrl.updateModelSelected('body')" >Body</button>
					<button type="button" ng-class="charCtrl.mSelected == 'wearable' ? 'active' : ''" ng-click="charCtrl.updateModelSelected('wearable')" >Misc</button>
					</div>
					<div class="store-item char-icon" ng-show="charCtrl.mSelected == 'body'" ng-click="charCtrl.updatePartSelected('bodyColour')">
                        <img alt="body"  src="/app/images/chars/traitIcons/body.png" >
                    </div>
                    <div class="store-item char-icon" ng-click="charCtrl.updatePartSelected('hair')" ng-class="charCtrl.pSelected == 'hair' ? 'active' : ''" ng-show="charCtrl.mSelected == 'body'">
                        <img alt="hair"  src="/app/images/chars/traitIcons/bodyHead.png" >
                    </div>
                    <div class="store-item char-icon" ng-click="charCtrl.updatePartSelected('eyebrow')" ng-class="charCtrl.pSelected == 'eyebrow' ? 'active' : ''" ng-show="charCtrl.mSelected == 'body'">
                        <img alt="eyebrows"  src="/app/images/chars/traitIcons/eybrows.png" >
                    </div>
					<div class="store-item char-icon" ng-click="charCtrl.updatePartSelected('eyes')" ng-class="charCtrl.pSelected == 'eyes' ? 'active' : ''" ng-show="charCtrl.mSelected == 'body'">
                        <img alt="eyes"  src="/app/images/chars/traitIcons/eyes.png" >
                    </div>
					<div class="store-item char-icon" ng-click="charCtrl.updatePartSelected('mouth')" ng-class="charCtrl.pSelected == 'mouth' ? 'active' : ''" ng-show="charCtrl.mSelected == 'body'">
                        <img alt="mouth" ng-click="charCtrl.updatePartSelected('mouth')" ng-show="charCtrl.mSelected == 'body'" src="/app/images/chars/traitIcons/mouth.png" >
                    </div>
					<div class="store-item char-icon" ng-click="charCtrl.updatePartSelected('facialHair')" ng-class="charCtrl.pSelected == 'facialHair' ? 'active' : ''" ng-show="charCtrl.mSelected == 'body'">
                        <img alt="facial hair"  src="/app/images/chars/traitIcons/facialHair.png" >
                    </div>
					<div class="store-item char-icon" ng-click="charCtrl.updatePartSelected('eyes')" ng-class="charCtrl.pSelected == 'eyes' ? 'active' : ''" ng-show="charCtrl.mSelected == 'wearable'">
                        <img alt="glasses"  src="/app/images/chars/traitIcons/glasses.png" >
                    </div>
					<div class="store-item char-icon" ng-click="charCtrl.updatePartSelected('chest')" ng-class="charCtrl.pSelected == 'chest' ? 'active' : ''" ng-show="charCtrl.mSelected == 'wearable'">
                        <img alt="top"  src="/app/images/chars/traitIcons/shirt.png" >
                    </div>
					<div class="store-item char-icon" ng-click="charCtrl.updatePartSelected('legs')" ng-class="charCtrl.pSelected == 'legs' ? 'active' : ''" ng-show="charCtrl.mSelected == 'wearable'">
                        <img alt="pants" ng-click="charCtrl.updatePartSelected('legs')" ng-show="charCtrl.mSelected == 'wearable'" src="/app/images/chars/traitIcons/legs.png" >
                    </div>
					<div class="store-item char-icon" ng-click="charCtrl.updatePartSelected('feet')" ng-class="charCtrl.pSelected == 'feet' ? 'active' : ''" ng-show="charCtrl.mSelected == 'wearable'">
                        <img alt="shoes"  src="/app/images/chars/traitIcons/feets.png" >
                    </div>
					<div class="store-item char-icon" ng-click="charCtrl.updatePartSelected('head')" ng-class="charCtrl.pSelected == 'head' ? 'active' : ''" ng-show="charCtrl.mSelected == 'wearable'">
                        <img alt="hats" src="/app/images/chars/traitIcons/wearableHead.png" >
                    </div>
					<div class="store-item char-icon" ng-click="charCtrl.updatePartSelected('rightHand')" ng-class="charCtrl.pSelected == 'rightHand' ? 'active' : ''" ng-show="charCtrl.mSelected == 'wearable'">
                        <img alt="accesories"  src="/app/images/chars/traitIcons/rightHand.png" >
                    </div>
                    <div class="store-item char-icon" ng-click="charCtrl.updatePartSelected('companionRight')" ng-class="charCtrl.pSelected == 'companionRight' ? 'active' : ''" ng-show="charCtrl.mSelected == 'wearable'">
                        <img alt="companionRight"  src="/app/images/chars/traitIcons/cat2.png" >
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="canvas-wrapper">
                    <div class="char-avatar-container">
                        
						<div id="loadFacebookG" ng-show="charCtrl.isLoading">
                            <div id="blockG_1" class="facebook_blockG"></div>
                            <div id="blockG_2" class="facebook_blockG"></div>
                            <div id="blockG_3" class="facebook_blockG"></div>
                        </div>						
						
						<!--<game-canvas modeltowatch = "charCtrl.modelToWatch" char = "charCtrl.char"></game-canvas>-->
						<char-avatar ng-show="!charCtrl.isLoading"
                                charname ="{{charCtrl.char.name}}"
                                eyecolor ="{{charCtrl.char.eyecolor}}"
                                hairModel ="{{charCtrl.char.head.hair.model}}"
                                hairColor = "{{charCtrl.char.head.hair.color}}"
                                modeltowatch = "charCtrl.modelToWatch"
                                char = "charCtrl.char"
                                >
                        </char-avatar>

                    </div>
					<button type="button" ng-click="charCtrl.updateCharEquipedTraits()" ng-show="charCtrl.checkEquipedTraits() && !charCtrl.isLoading">Equip</button>
				<button type="button" ng-click="charCtrl.cancelUpdate()" ng-show="charCtrl.equipEnabled && !charCtrl.isLoading">Cancel</button>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="store-wrapper">
					<div class="store-item" ng-show="charCtrl.displayClearButton" ng-click="charCtrl.clearCurrentPart()">
                        <img alt="clear"  src="/app/images/cross-11_thumb.png" />
						<span class="trait-price">Remove</span>
                    </div>
					
					<div class="store-item" ng-repeat="trait in charCtrl.allTraits" ng-show="charCtrl.mSelected == trait.traitType && charCtrl.pSelected == trait.placement" ng-class="{'not-available-trait' : !trait.availableForUser, 'active': charCtrl.checkActive(trait)}" ng-click="charCtrl.setPreviewPart(charCtrl.mSelected, trait)">
                        <span ng-show="trait.requirements.level > charCtrl.character.levelInfo.level" class="cb-badge trait-badge" ng-class="trait.requirements.level > charCtrl.character.levelInfo.level ? 'unavailable-trait-badge' : ''">{{trait.requirements.level}}</span>
                        <img class="preview-img" alt="trait"  ng-src="{{trait.previewImageURL}}" />
						
						<div class="buy-trait-container">
							<button type="button" ng-click="charCtrl.buyTrait(trait); $event.stopPropagation();" confirm="Are you sure you want to buy this trait for {{trait.price}} doubloons?" class="buy-trait-btn">Buy
							</button>
						</div>
						<span class="trait-price">{{trait.price == 0 ? 'Free' : trait.price}}</span>
                    </div>
					<!--Body colour-->
					<div ng-show="charCtrl.mSelected == 'body' && charCtrl.pSelected == 'bodyColour'" ng-include="'components/store/views/bodyColourTraitSelect.html'"></div>
                </div>
				
				<!-- Pagination -->
				<div class="col-lg-12 " style="padding: 10px;" ng-include="'components/store/views/paginationTemplate.html'"></div>
            </div>
        </div>
    </div>
</div>
