<div class="live-feed-title"></div>
<div ng-controller="LiveFeedCtrl as liveFeedCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="feed-container">
                    <div class="live-feed-wrapper">
                        <ul class="live-feed">
                            <li ng-class="$even ? 'rightFeed' : 'leftFeed'" ng-repeat="feed in liveFeedCtrl.liveFeedEvents">

                                <img class="feed-avatar" ng-src="{{feed.user.avatarURL}}">

                                <span class="feed-description">{{feed.description}}</span>

                                <div class="feed-extra">
                                    <div ng-if="feed.achievement.type == 'reward'"> <strong>House Award:</strong> +{{feed.houseAward}}</div>
                                    <div ng-if="feed.achievement.type == 'penalty'"> <strong>House Penalty:</strong> {{feed.houseAward}}</div>
                                    <span><i class="fa fa-clock-o"></i> {{liveFeedCtrl.fromNow(feed.timestamp)}}</span>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>