<div class="floating-avatar" ng-controller="UserCtrl as userCtrl">

    <div class="avatar-house-logo">
        <img ng-src="{{userCtrl.userProfile.student.house.logo}}">
    </div>

    <div class="avatar-crop">
		<img ng-src="{{userCtrl.avatarURL}}">
		
    </div>
    <span class="user-name">{{userCtrl.userProfile.firstName}}</span>
    <span class="level-badge">{{userCtrl.userProfile.student.character.levelInfo.level}}</span>
    <span class="gold-badge">
        <span class="gold-icon"></span>
        {{userCtrl.userProfile.student.currency.doubloons}}
    </span>

    <div isteven-omni-bar
         current-value="userCtrl.userProfile.student.character.levelInfo.xp"
         max-value="userCtrl.userProfile.student.character.levelInfo.xpToNext"
         container-style="userCtrl.barStyles.container1"
         current-style="userCtrl.barStyles.bar1">
    </div>

    <span class="xp-pj"> {{userCtrl.Math.floor((userCtrl.userProfile.student.character.levelInfo.xp * 100)/ userCtrl.userProfile.student.character.levelInfo.xpToNext)}} % </span>

</div>
