<div class="row">
    <nav class="navbar navbar-fixed-bottom" role="navigation">


        <div ng-include="'components/quests/views/questPopUp.html'"></div>
        <div ng-include="'components/quests/views/newQuest.html'"></div>
        <div ng-include="'components/notifications/views/notificationsPopUp.html'"></div>
        <div ng-include="'components/griffinStudents/views/common/optionsPopUp.html'"></div>


        <ul class="gf-bottom-menu pull-right">
            <li>
                <div class="menu-item" ng-class="menuCtrl.questPopUpIsVisible ? 'clicked' : ''"
                     ng-audio-hover="/app/public/sounds/buttons/onHover.wav" volume-hover="1" start-hover="0.1"
                     ng-audio="/app/public/sounds/buttons/onClick.wav" volume="1" start="0.1">
                    <a ng-click="menuCtrl.toggleQuestPopUp()">
                        <i class="fa fa-exclamation"></i>
                        QUESTS
                    </a>
                </div>
            </li>
            <li>
                <div class="menu-item" ng-class="menuCtrl.notificationPopUpIsVisible ? 'clicked' : ''">

                    <div ng-controller="NotificationCtrl as notCtrl">
                        <span class="cb-badge" ng-show="notCtrl.pendingNotifications > 0"> {{notCtrl.pendingNotifications}} </span>
                    </div>

                    <a ng-click="menuCtrl.toggleNotificationsPopUp()"
                       ng-audio-hover="/app/public/sounds/buttons/onHover.wav" volume-hover="1" start-hover="0.1"
                       ng-audio="/app/public/sounds/buttons/onClick.wav" volume="1" start="0.1">

                        <i class="fa fa-bell"></i>
                        NOTIFICATIONS
                    </a>
                </div>
            </li>
            <li>
                <div class="menu-item">
                    <a ng-click="menuCtrl.toggleOptionsPopUp()"
                       ng-audio-hover="/app/public/sounds/buttons/onHover.wav" volume-hover="1" start-hover="0.1"
                       ng-audio="/app/public/sounds/buttons/onClick.wav" volume="1" start="0.1">
                        <i class="fa fa-cog"></i>
                        OPTIONS
                    </a>
                </div>
            </li>
        </ul>

        <ul class="gf-chat-menu pull-right" ng-controller="ChatCtrl as chatCtrl">

            <div ng-include="'components/chat/views/chatView.html'" ng-show="chatCtrl.chatViewisVisible"></div>

            <input ng-model="chatCtrl.chatField" ng-keyup="chatCtrl.keyPressed($event)"
                   ng-focus="chatCtrl.toggleChatView(true)" ng-blur="chatCtrl.toggleChatView(false)">
            <li>
                <div class="menu-item">
                    <div class="cb-badge" ng-show="chatCtrl.unreadMessages > 0">{{chatCtrl.unreadMessages}}</div>
                    <a ng-click="chatCtrl.sendChatMessage()"
                       ng-audio-hover="/app/public/sounds/buttons/onHover.wav" volume-hover="1" start-hover="0.1"
                       ng-audio="/app/public/sounds/buttons/onClick.wav" volume="1" start="0.1">
                        <i class="fa fa-send"></i>
                    </a>
                </div>
            </li>
        </ul>

    </nav>

    <nav class="navbar navbar-fixed-bottom" role="navigation">
        <div class="bottom-drawer-menu-outside-trigger" ng-show="menuCtrl.bottomMobileMenuIsVisible" ng-click="menuCtrl.hideMobileMenus()"></div>
        <div class="gf-bottom-menu-mobile" ng-class="menuCtrl.bottomMobileMenuIsVisible ? 'bottom-drawer-ease-in' : ''">
            <div class="bottom-hamburguer" ng-click="menuCtrl.toggleBottomMobileMenu()">
                <i class="fa fa-bars"></i>
            </div>

            <ul class="center-block">
                <li>
                    <a ng-click="menuCtrl.toggleQuestPopUp()">
                        <i class="fa fa-exclamation"></i>
                        QUESTS
                    </a>
                </li>

                <li>
                    <a ng-click="menuCtrl.toggleNotificationsPopUp()"
                       ng-audio-hover="/app/public/sounds/buttons/onHover.wav" volume-hover="1" start-hover="0.1"
                       ng-audio="/app/public/sounds/buttons/onClick.wav" volume="1" start="0.1">

                        <i class="fa fa-bell"></i>
                        NOTIFICATIONS
                    </a>
                </li>

                <li>
                    <div class="cb-badge" ng-show="chatCtrl.unreadMessages > 0">{{chatCtrl.unreadMessages}}</div>
                    <a ng-click="menuCtrl.toggleOptionsPopUp()"
                       ng-audio-hover="/app/public/sounds/buttons/onHover.wav" volume-hover="1" start-hover="0.1"
                       ng-audio="/app/public/sounds/buttons/onClick.wav" volume="1" start="0.1">
                        <i class="fa fa-cog"></i>
                        OPTIONS
                    </a>
                </li>

            </ul>
        </div>
    </nav>


</div>
