<!-- Wrapper-->
<div id="wrapper" class="vertical-align">

    <div id="page-wrapper" ng-controller="PermCtrl as permCtrl">

        <!-- Includes -->
        <!--Menus-->
        <div ng-include="'components/griffinStudents/views/common/avatar.html'" ng-if="permCtrl.userIsLoggedIn()"></div>
        <div ng-controller="MenuCtrl as menuCtrl">
            <div ng-include="'components/griffinStudents/views/common/topnavbar.html'" ng-if="permCtrl.userIsLoggedIn()"></div>
            <div ng-include="'components/griffinStudents/views/common/bottomnavbar.html'" ng-if="permCtrl.userIsLoggedIn()"></div>
        </div>

        <!-- Main view  -->
        <div ui-view class="vertical-middle"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->
