<div class="pop-over-outside-trigger" ng-show="menuCtrl.optionsPopUpIsVisible" ng-click="menuCtrl.hidePopUps()"></div>
<div class="pop-over" ng-show="menuCtrl.optionsPopUpIsVisible">
    <h1><i class="fa fa-cog"></i> OPTIONS</h1>
    <!--<div>-->
        <!--<button ui-sref="main.settings">-->
            <!--<i class="fa fa-cog"></i>-->
            <!--Settings-->
        <!--</button>-->
    <!--</div>-->

    <div>
        <button ui-sref="main.profile" ng-click="menuCtrl.hidePopUps()">
            <i class="fa fa-user"></i>
            Profile
        </button>
    </div>

    <div>
        <button ui-sref="main.changePassword" ng-click="menuCtrl.hidePopUps()">
            <i class="fa fa-key"></i>
            New Password
        </button>
    </div>

    <div ng-controller="AuthCtrl as authCtrl">
        <button ng-click="authCtrl.logout()">
            <i class="fa fa-sign-out"></i>
            Logout
        </button>
    </div>

</div>

