<div class="row" ng-controller="UserCtrl as userCtrl">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="left-drawer-menu-outside-trigger" ng-show="menuCtrl.leftMobileMenuIsVisible" ng-click="menuCtrl.hideMobileMenus()"></div>
        <div class="gf-left-menu-mobile" ng-class="menuCtrl.leftMobileMenuIsVisible ? 'left-drawer-ease-in' : ''">

            <div class="left-hamburguer" ng-click="menuCtrl.toggleLeftMobileMenu()">
                <i class="fa fa-bars"></i>
            </div>

            <ul ng-click="menuCtrl.hideMobileMenus()">
                <li>
                    <div class="menu-avatar">
                        <img ng-src="{{userCtrl.userProfile.avatarURL}}">
                    </div>
                    <div class="menu-user-name">{{userCtrl.userProfile.firstName}}</div>
                    <div class="menu-level-badge">Level: {{userCtrl.userProfile.student.character.levelInfo.level}}</div>
                    <div class="menu-gold-badge"> {{userCtrl.userProfile.student.currency.doubloons}} G </div>
                </li>

                <li>
                    <a ui-sref="main.store"
                       ng-audio-hover="/app/public/sounds/buttons/onHover.wav" volume-hover="1" start-hover="0.1"
                       ng-audio="/app/public/sounds/buttons/onClick.wav" volume="1" start="0.1">
                        <i class="fa fa-shopping-cart"></i>
                        STORE
                    </a>
                </li>

                <li>
                    <div class="menu-item">
                        <a ui-sref="main.achievements"
                           ng-audio-hover="/app/public/sounds/buttons/onHover.wav" volume-hover="1" start-hover="0.1"
                           ng-audio="/app/public/sounds/buttons/onClick.wav" volume="1" start="0.1">
                            <i class="fa fa-trophy"></i>
                            ACHIEVEMENTS

                        </a>
                    </div>
                </li>

                <li>
                    <div class="menu-item">
                        <a ui-sref="main.liveFeed"
                           ng-audio-hover="/app/public/sounds/buttons/onHover.wav" volume-hover="1" start-hover="0.1"
                           ng-audio="/app/public/sounds/buttons/onClick.wav" volume="1" start="0.1">
                            <i class="fa fa-rss"></i>
                            LIVE FEED
                        </a>
                    </div>
                </li>

                <li>
                    <div class="menu-item">
                        <a ui-sref="main.houseRanking"
                           ng-audio-hover="/app/public/sounds/buttons/onHover.wav" volume-hover="1" start-hover="0.1"
                           ng-audio="/app/public/sounds/buttons/onClick.wav" volume="1" start="0.1">
                            <i class="fa fa-reorder"></i>
                            RANKINGS
                        </a>
                    </div>
                </li>

            </ul>

        </div>


        <ul class="gf-top-menu pull-left">
            <li>
                <div class="menu-item" ui-sref-active="active">
                    <a ui-sref="main.store"
                       ng-audio-hover="/app/public/sounds/buttons/onHover.wav" volume-hover="1" start-hover="0.1"
                       ng-audio="/app/public/sounds/buttons/onClick.wav" volume="1" start="0.1">
                        <i class="fa fa-shopping-cart"></i>
                        STORE
                    </a>
                </div>
            </li>

            <li>
                <div class="menu-item"  ui-sref-active="active">
                    <a ui-sref="main.achievements"
                       ng-audio-hover="/app/public/sounds/buttons/onHover.wav" volume-hover="1" start-hover="0.1"
                       ng-audio="/app/public/sounds/buttons/onClick.wav" volume="1" start="0.1">
                        <i class="fa fa-trophy"></i>
                        ACHIEVEMENTS

                    </a>
                </div>
            </li>

            <li>
                <div class="menu-item" ui-sref-active="active">
                    <a ui-sref="main.liveFeed"
                       ng-audio-hover="/app/public/sounds/buttons/onHover.wav" volume-hover="1" start-hover="0.1"
                       ng-audio="/app/public/sounds/buttons/onClick.wav" volume="1" start="0.1">
                        <i class="fa fa-rss"></i>
                        LIVE FEED
                    </a>
                </div>
            </li>

            <li>
                <div class="menu-item" ui-sref-active="active">
                    <a ui-sref="main.houseRanking"
                       ng-audio-hover="/app/public/sounds/buttons/onHover.wav" volume-hover="1" start-hover="0.1"
                       ng-audio="/app/public/sounds/buttons/onClick.wav" volume="1" start="0.1">
                        <i class="fa fa-reorder"></i>
                        RANKINGS
                    </a>
                </div>
            </li>

        </ul>
    </nav>

</div>

