/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.page-title, .store-title, .achievements-title, .live-feed-title, .rankings-title {
  position: fixed;
  left: 0;
  right: 0;
  top: 40px;
  margin: auto;
  height: 47px; }
  @media screen and (max-width: 1500px) {
    .page-title, .store-title, .achievements-title, .live-feed-title, .rankings-title {
      top: 5px;
      height: 30px; } }

.cb-grid-wrapper, .store-wrapper, .ach-grid-wrapper {
  overflow-y: scroll;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  max-height: 350px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }
  .cb-grid-wrapper .cb-grid-item, .store-wrapper .cb-grid-item, .ach-grid-wrapper .cb-grid-item, .store-wrapper .store-item, .ach-grid-wrapper .ach-grid-item {
    position: relative;
    background: url("/app/images/ui/ui-01.svg");
    background-size: 100%;
    width: 80px;
    height: 80px;
    font-size: 30px;
    text-align: center;
    margin: 6px 6px 40px 6px;
    color: #4e340f;
    display: flex;
    justify-content: center;
    flex-direction: column;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    padding: 20px; }
    .cb-grid-wrapper .cb-grid-item img, .store-wrapper .cb-grid-item img, .ach-grid-wrapper .cb-grid-item img, .store-wrapper .store-item img, .ach-grid-wrapper .ach-grid-item img {
      margin: auto;
      max-width: 40px;
      max-height: 40px; }
    .cb-grid-wrapper .cb-grid-item .badge, .store-wrapper .cb-grid-item .badge, .ach-grid-wrapper .cb-grid-item .badge, .store-wrapper .store-item .badge, .ach-grid-wrapper .ach-grid-item .badge {
      position: absolute;
      border-radius: 50%;
      background-color: #fffffb;
      border: 3px solid #4e340f;
      color: #4e340f;
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 4px;
      top: -20px;
      right: -20px;
      font-size: 15px;
      text-shadow: none;
      top: -5px;
      right: -5px; }
    .cb-grid-wrapper .cb-grid-item .fa, .store-wrapper .cb-grid-item .fa, .ach-grid-wrapper .cb-grid-item .fa, .store-wrapper .store-item .fa, .ach-grid-wrapper .ach-grid-item .fa {
      position: absolute;
      border-radius: 50%;
      background-color: #a7a7a7;
      border: 3px solid #4e340f;
      color: #4e340f;
      width: 45px;
      height: 45px;
      text-align: center;
      padding: 4px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      font-size: 30px;
      z-index: 100; }
  .cb-grid-wrapper .cb-grid-item.active, .store-wrapper .cb-grid-item.active, .ach-grid-wrapper .cb-grid-item.active, .store-wrapper .active.store-item, .ach-grid-wrapper .active.ach-grid-item {
    background: url("/app/images/ui/ui-03.svg");
    background-size: 100%; }
  .cb-grid-wrapper .cb-grid-item.not-available-trait, .store-wrapper .cb-grid-item.not-available-trait, .ach-grid-wrapper .cb-grid-item.not-available-trait, .store-wrapper .not-available-trait.store-item, .ach-grid-wrapper .not-available-trait.ach-grid-item {
    background: url("/app/images/ui/ui-04.svg");
    background-size: 100%; }
  .cb-grid-wrapper .cb-grid-item:hover, .store-wrapper .cb-grid-item:hover, .ach-grid-wrapper .cb-grid-item:hover, .store-wrapper .store-item:hover, .ach-grid-wrapper .ach-grid-item:hover {
    background: url("/app/images/ui/ui-02.svg");
    background-size: 100%; }
    .cb-grid-wrapper .cb-grid-item:hover .fa, .store-wrapper .cb-grid-item:hover .fa, .ach-grid-wrapper .cb-grid-item:hover .fa, .store-wrapper .store-item:hover .fa, .ach-grid-wrapper .ach-grid-item:hover .fa {
      display: none; }

.pop-over-outside-trigger {
  width: 100vw;
  height: 100vh; }

.pop-over {
  border: 6px solid #fe8b2e;
  -webkit-box-shadow: 0 0 0 3px #4e340f;
  -khtml-box-shadow: 0 0 0 3px #4e340f;
  -moz-box-shadow: 0 0 0 3px #4e340f;
  -ms-box-shadow: 0 0 0 3px #4e340f;
  -o-box-shadow: 0 0 0 3px #4e340f;
  box-shadow: 0 0 0 3px #4e340f;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: #3B653D;
  padding-bottom: 5px;
  position: absolute;
  width: 320px;
  bottom: 90px;
  right: 91px;
  text-align: center; }
  .pop-over h1 {
    position: relative;
    top: 5px;
    font-size: 30px;
    color: #fffffb;
    font-weight: 800; }
  .pop-over .item {
    position: relative;
    right: 0px;
    background: url("/app/images/ui/popup-01.svg") no-repeat center;
    background-size: 100%;
    min-width: 100%;
    height: 106.66656px;
    margin-bottom: -10.656px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 55px;
    padding-right: 55px;
    color: #fffffb;
    text-shadow: 2px 2px 2px #4e340f;
    -webkit-transition: right, 1s, ease-out;
    -khtml-transition: right, 1s, ease-out;
    -moz-transition: right, 1s, ease-out;
    -ms-transition: right, 1s, ease-out;
    -o-transition: right, 1s, ease-out;
    transition: right, 1s, ease-out; }
    .pop-over .item i {
      font-size: 29px;
      position: absolute;
      top: 41px;
      left: 30px; }
  .pop-over .item-ease-out {
    right: -600px; }
  .pop-over p {
    margin: 0px 20px 0px 20px;
    font-size: 12px; }
  @media screen and (max-width: 620px) {
    .pop-over {
      width: 60%;
      right: 0;
      bottom: 65px;
      left: 0;
      margin: auto;
      min-width: 320px; } }

.floating-avatar {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 30px;
  right: 90px;
  color: #4e340f;
  font-weight: 800;
  z-index: 1000;
  text-align: center;
  background: url("/app/images/ui/ui-31.svg") no-repeat;
  background-size: 100%;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  @media screen and (max-width: 1199px) {
    .floating-avatar {
      display: none; } }
  .floating-avatar .avatar-crop {
    position: relative;
    width: 90%;
    height: 90%;
    overflow: hidden;
    margin: auto;
    padding: 3px; }
    .floating-avatar .avatar-crop img {
      max-width: 70%;
      padding: 10px;
      position: relative;
      margin: auto;
      min-height: 100%;
      min-width: 100%; }
  .floating-avatar .level-badge {
    position: absolute;
    border-radius: 50%;
    background-color: #fffffb;
    border: 3px solid #4e340f;
    width: 31.5px;
    height: 31.5px;
    text-align: center;
    padding: 4.5px;
    top: -10px;
    right: -10px; }
  .floating-avatar .user-name {
    position: absolute;
    right: 100px;
    bottom: 25px;
    text-align: right; }
  .floating-avatar .gold-badge {
    position: absolute;
    right: 112.5px;
    bottom: 5px;
    font-size: 15px;
    text-align: right; }
    .floating-avatar .gold-badge .gold-icon {
      background: url("/app/images/ui/ui-25.svg") no-repeat;
      background-size: 15px 15px;
      height: 16px;
      width: 16px;
      position: absolute;
      right: -18px;
      top: 2.5px; }
  .floating-avatar .round-avatar {
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
  .floating-avatar .rounded-corners {
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
  .floating-avatar .xp-bar-wrapper {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: -1;
    -webkit-transform: rotate(180deg);
    -khtml-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.Matrix( M11=0, M12=0, M21=0, M22=0, sizingMethod='auto expand');
    zoom: 1; }

.char-avatar-container {
  width: 400px;
  margin-left: auto;
  margin-right: auto; }

.xp-pj {
  position: absolute;
  color: #fffffb;
  font-size: 12px;
  font-family: "Open Sans";
  width: 30px;
  bottom: -21px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100; }

.avatar-house-logo {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 100px; }
  .avatar-house-logo img {
    width: 100%;
    height: 100%; }

.gf-menu, .gf-bottom-menu, .gf-chat-menu, .gf-top-menu {
  min-width: 250px;
  list-style: none;
  padding: 20px;
  position: relative;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  text-shadow: 2px 2px 2px #4e340f; }
  .gf-menu .fa, .gf-bottom-menu .fa, .gf-chat-menu .fa, .gf-top-menu .fa {
    color: #fffffb; }
  .gf-menu li, .gf-bottom-menu li, .gf-chat-menu li, .gf-top-menu li {
    position: relative;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    min-width: 100px;
    height: 25px;
    background: url("/app/images/ui/ui-68.svg") no-repeat center;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
    .gf-menu li .menu-item :not(.cb-badge):hover, .gf-bottom-menu li .menu-item :not(.cb-badge):hover, .gf-chat-menu li .menu-item :not(.cb-badge):hover, .gf-top-menu li .menu-item :not(.cb-badge):hover {
      background: url("/app/images/ui/ui-69.svg") no-repeat center;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      text-shadow: 2px 2px 2px #cd6825; }
    .gf-menu li .menu-item.active, .gf-bottom-menu li .menu-item.active, .gf-chat-menu li .menu-item.active, .gf-top-menu li .menu-item.active {
      background: url("/app/images/ui/ui-70.svg") no-repeat center;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      text-shadow: 2px 2px 2px rgba(78, 63, 22, 0.69); }
    .gf-menu li a, .gf-bottom-menu li a, .gf-chat-menu li a, .gf-top-menu li a {
      color: #fffffb;
      text-decoration: none;
      display: block;
      padding: 5px; }
  @media screen and (max-width: 900px) {
    .gf-menu, .gf-bottom-menu, .gf-chat-menu, .gf-top-menu {
      display: none; } }

.gf-bottom-menu {
  background: url("/app/images/ui/ui-33.svg") no-repeat center;
  background-size: 100%;
  margin-right: 80px;
  margin-bottom: 30px; }

.gf-chat-menu {
  background: url("/app/images/ui/ui-33.svg") no-repeat center;
  background-size: 100%;
  margin-bottom: 30px; }

.gf-top-menu {
  background: url("/app/images/ui/ui-32.svg") no-repeat center;
  background-size: 100%;
  margin-left: 80px;
  margin-top: 30px; }

.hamburguer, .bottom-hamburguer, .left-hamburguer {
  position: absolute;
  font-size: 30px;
  width: 40px;
  height: 40px;
  color: #fffffb;
  background-color: #ed6914;
  text-align: center; }
  @media screen and (min-width: 900px) {
    .hamburguer, .bottom-hamburguer, .left-hamburguer {
      display: none; } }

.bottom-hamburguer {
  background-color: #a46d1f;
  right: 0px;
  bottom: 50px;
  z-index: 100; }

.gf-bottom-menu-mobile {
  position: absolute;
  bottom: -50px;
  width: 100vw;
  height: 50px;
  background-color: #4e340f;
  text-align: center;
  color: #fffffb;
  -webkit-transition: bottom, 0.5s, ease-in-out;
  -khtml-transition: bottom, 0.5s, ease-in-out;
  -moz-transition: bottom, 0.5s, ease-in-out;
  -ms-transition: bottom, 0.5s, ease-in-out;
  -o-transition: bottom, 0.5s, ease-in-out;
  transition: bottom, 0.5s, ease-in-out; }
  .gf-bottom-menu-mobile ul {
    list-style: none;
    height: 100%;
    padding: 0;
    margin-bottom: 10px; }
    .gf-bottom-menu-mobile ul li {
      position: relative;
      display: inline-block;
      font-size: 15px;
      text-align: center;
      min-width: 20%;
      height: 100%; }
    .gf-bottom-menu-mobile ul li:hover {
      background-color: #a46d1f; }
  .gf-bottom-menu-mobile a {
    color: #fffffb;
    text-decoration: none;
    display: block;
    padding: 15px; }
  @media screen and (min-width: 900px) {
    .gf-bottom-menu-mobile {
      display: none; } }

.gf-left-menu-mobile {
  position: absolute;
  left: -200px;
  width: 200px;
  height: 100vh;
  background-color: #4e340f;
  color: #fffffb;
  -webkit-transition: left, 0.5s, ease-in-out;
  -khtml-transition: left, 0.5s, ease-in-out;
  -moz-transition: left, 0.5s, ease-in-out;
  -ms-transition: left, 0.5s, ease-in-out;
  -o-transition: left, 0.5s, ease-in-out;
  transition: left, 0.5s, ease-in-out; }
  .gf-left-menu-mobile ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin-left: 10px; }
    .gf-left-menu-mobile ul li {
      min-height: 40px;
      font-size: 20px; }
    .gf-left-menu-mobile ul li:hover {
      background-color: #a46d1f; }
  .gf-left-menu-mobile a {
    color: #fffffb;
    text-decoration: none; }
  @media screen and (min-width: 900px) {
    .gf-left-menu-mobile {
      display: none; } }

.left-drawer-ease-in {
  left: 0px; }

.bottom-drawer-ease-in {
  bottom: 0px; }

.left-hamburguer {
  background-color: #a46d1f;
  top: 0px;
  left: 200px;
  z-index: 100; }

.menu-avatar {
  max-width: 100px;
  max-height: 100px;
  overflow: hidden; }
  .menu-avatar img {
    max-width: 50%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    min-height: 100%;
    min-width: 40%; }

.menu-user-name {
  font-size: 14px;
  font-family: 'Open Sans';
  color: #fffffb; }

.menu-level-badge {
  font-family: 'Open Sans';
  font-size: 12px;
  color: #ed6914; }

.menu-gold-badge {
  font-family: 'Open Sans';
  font-size: 12px;
  color: #ed6914; }

.drawer-outside-trigger, .bottom-drawer-menu-outside-trigger, .left-drawer-menu-outside-trigger {
  width: 100vw;
  height: 100vh; }

.left-drawer-menu-outside-trigger {
  position: absolute; }

.gf-button-bar {
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  background-color: #fe8b2e;
  padding: 3px;
  border: 2px solid rgba(78, 63, 22, 0.69);
  display: inline-block; }

.gf-button-group {
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  background-color: #4e340f;
  border: 1px solid #fffffb;
  padding-right: 4px;
  display: inline-block; }

.gf-button {
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  background-color: #fe8b2e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fe8b2e), to(#ed6914));
  background-image: -webkit-linear-gradient(top, #fe8b2e, #ed6914);
  background-image: -moz-linear-gradient(top, #fe8b2e, #ed6914);
  background-image: -ms-linear-gradient(top, #fe8b2e, #ed6914);
  background-image: -o-linear-gradient(top, #fe8b2e, #ed6914);
  background-image: linear-gradient(top, #fe8b2e, #ed6914);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fe8b2e', endColorStr='#ed6914');
  margin: 4px 0px 4px 4px;
  padding: 5px 20px 5px 20px;
  float: right; }

.store-wrapper .store-item {
  width: 80px;
  height: 80px; }
.store-wrapper .trait-badge {
  top: -10px; }

.canvas-wrapper {
  text-align: center; }

.vertical-align {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.store-title {
  background: url("/app/images/ui/ui-06.svg") center no-repeat;
  background-size: 200px 30px; }

.cant-buy-traitcontainer {
  padding: 20px; }

.buy-trait-container {
  display: none; }

.store-item.not-available-trait.active .buy-trait-container {
  display: block; }

.trait-price {
  font-size: 13px;
  color: #FFCD01;
  text-shadow: 2px 2px 2px #4e340f;
  background: gray;
  border: 1px solid black;
  padding: 2px; }

.buy-trait-btn {
  min-width: 35px;
  font-size: 12px;
  min-height: 15px;
  height: 28px;
  position: absolute;
  top: 25px;
  left: 14px;
  padding: 8px 15px; }

.buy-trait-container {
  display: none; }

.store-item.not-available-trait.active .buy-trait-container {
  display: block; }

.trait-price {
  font-size: 13px;
  color: #FFCD01;
  text-shadow: 2px 2px 2px #4e340f;
  background: gray;
  border: 1px solid black;
  padding: 2px; }

.buy-trait-btn {
  min-width: 35px;
  font-size: 12px;
  min-height: 15px;
  height: 28px;
  position: absolute;
  top: 25px;
  left: 23px; }

.cb-badge.unavailable-trait-badge {
  background-color: #EB193A;
  color: white; }

@font-face {
  font-family: 'BuzzFont';
  src: url("/app/public/fonts/cartoonist.ttf"); }
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  outline: 0;
  border: none;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 200px;
  background-color: #fe8b2e;
  color: #fee195;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 25px;
  padding: 0px;
  text-indent: 10px; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  outline: 0;
  border: none;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #fffffb;
  text-shadow: 2px 2px 2px #4e340f;
  font-size: 12px;
  text-align: center;
  min-width: 130px;
  height: 25px;
  background: url("/app/images/ui/ui-68.svg") no-repeat center;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
  min-height: 30px;
  padding-top: 6px;
  padding-bottom: 6px; }

button.active {
  background: url("/app/images/ui/ui-70.svg") no-repeat center;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 2px 2px 2px rgba(78, 63, 22, 0.69); }

button:disabled {
  background: url("/app/images/ui/ui-71.svg") no-repeat center;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 2px 2px 2px rgba(78, 63, 22, 0.69); }

button:hover:enabled {
  background: url("/app/images/ui/ui-69.svg") no-repeat center;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 2px 2px 2px #cd6825; }

::-webkit-scrollbar {
  width: 16px; }

::-webkit-scrollbar-track {
  background-color: rgba(78, 63, 22, 0.69);
  border: 3px solid #fe8b2e;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 2px rgba(78, 63, 22, 0.69);
  -khtml-box-shadow: 0 0 0 2px rgba(78, 63, 22, 0.69);
  -moz-box-shadow: 0 0 0 2px rgba(78, 63, 22, 0.69);
  -ms-box-shadow: 0 0 0 2px rgba(78, 63, 22, 0.69);
  -o-box-shadow: 0 0 0 2px rgba(78, 63, 22, 0.69);
  box-shadow: 0 0 0 2px rgba(78, 63, 22, 0.69); }

::-webkit-scrollbar-thumb {
  background-color: #fe8b2e;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 5px; }

::-webkit-scrollbar-corner {
  background-color: transparent; }

.form-group {
  position: relative; }

.field-check {
  position: absolute;
  right: -20px;
  top: 10px; }

.ach-name {
  text-align: center;
  display: inline-block;
  bottom: -15px;
  font-size: 10px;
  position: relative;
  left: -19px;
  width: 80px; }

.ach-grid-wrapper {
  background-color: rgba(29, 18, 157, 0.1);
  border: 5px solid #fe8b2e;
  -webkit-box-shadow: 0 0 0 3px rgba(78, 63, 22, 0.69);
  -khtml-box-shadow: 0 0 0 3px rgba(78, 63, 22, 0.69);
  -moz-box-shadow: 0 0 0 3px rgba(78, 63, 22, 0.69);
  -ms-box-shadow: 0 0 0 3px rgba(78, 63, 22, 0.69);
  -o-box-shadow: 0 0 0 3px rgba(78, 63, 22, 0.69);
  box-shadow: 0 0 0 3px rgba(78, 63, 22, 0.69);
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

.ach-counter {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: -40px;
  font-size: 25px; }

.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */ }

.achievements-title {
  background: url("/app/images/ui/ui-title-01.svg") center no-repeat;
  background-size: 200px 30px; }

.feed-container {
  background-color: rgba(29, 18, 157, 0.1);
  border: 5px solid #fe8b2e;
  -webkit-box-shadow: 0 0 0 3px rgba(78, 63, 22, 0.69);
  -khtml-box-shadow: 0 0 0 3px rgba(78, 63, 22, 0.69);
  -moz-box-shadow: 0 0 0 3px rgba(78, 63, 22, 0.69);
  -ms-box-shadow: 0 0 0 3px rgba(78, 63, 22, 0.69);
  -o-box-shadow: 0 0 0 3px rgba(78, 63, 22, 0.69);
  box-shadow: 0 0 0 3px rgba(78, 63, 22, 0.69);
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

.live-feed-wrapper {
  font-family: "Open Sans";
  overflow-y: scroll;
  overflow-x: hidden;
  background: url("/app/images/ui/barberpole-01.svg") no-repeat center;
  max-height: 60vh; }

.live-feed {
  position: relative;
  max-width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none; }

.feed, .rightFeed, .leftFeed {
  position: relative;
  width: 300px;
  padding: 25px 25px;
  color: #fffffb;
  background: url("/app/images/ui/livefeed-01.svg") no-repeat center;
  background-size: 100%;
  clear: both; }
  .feed .feed-avatar, .rightFeed .feed-avatar, .leftFeed .feed-avatar {
    position: absolute;
    width: 35px;
    height: auto;
    top: 28%;
    z-index: 40; }
  .feed .feed-description, .rightFeed .feed-description, .leftFeed .feed-description {
    color: #4e340f;
    font-weight: 600; }
  .feed .feed-extra, .rightFeed .feed-extra, .leftFeed .feed-extra {
    font-size: 11px; }

.feed:before, .rightFeed:before, .leftFeed:before {
  position: absolute;
  top: 30px;
  right: -48px;
  content: ' ';
  width: 35px;
  height: 35px;
  margin-top: -10px;
  background: url("/app/images/ui/ui-20.svg") no-repeat center;
  background-size: 100%;
  z-index: 10; }
  @media screen and (max-width: 1199px) {
    .feed:before, .rightFeed:before, .leftFeed:before {
      background: none; } }

.rightFeed {
  float: left;
  text-align: right;
  padding-right: 60px;
  right: -8px; }
  .rightFeed .feed-avatar {
    right: 15px; }
  .rightFeed .feed-extra {
    text-align: left; }
  @media screen and (max-width: 1199px) {
    .rightFeed {
      float: none;
      margin: auto; } }

.leftFeed {
  float: right;
  text-align: left;
  padding-left: 60px;
  left: 8px; }
  .leftFeed .feed-avatar {
    left: 15px; }
  .leftFeed .feed-extra {
    text-align: right; }
  @media screen and (max-width: 1199px) {
    .leftFeed {
      float: none;
      margin: auto; } }

.leftFeed:before {
  left: -48px; }

.live-feed-title {
  background: url("/app/images/ui/ui-22.svg") center no-repeat;
  background-size: 200px 30px; }

.notification-pullup {
  width: 200px;
  min-height: 50px;
  background-color: #fee195;
  text-align: center;
  padding: 20px;
  border: 6px solid #fe8b2e;
  position: absolute;
  right: 80px;
  bottom: 100px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  -webkit-box-shadow: 0 0 0 3px #4e340f;
  -khtml-box-shadow: 0 0 0 3px #4e340f;
  -moz-box-shadow: 0 0 0 3px #4e340f;
  -ms-box-shadow: 0 0 0 3px #4e340f;
  -o-box-shadow: 0 0 0 3px #4e340f;
  box-shadow: 0 0 0 3px #4e340f;
  -webkit-transition: right, 1s, ease-in;
  -khtml-transition: right, 1s, ease-in;
  -moz-transition: right, 1s, ease-in;
  -ms-transition: right, 1s, ease-in;
  -o-transition: right, 1s, ease-in;
  transition: right, 1s, ease-in; }
  .notification-pullup .close-button {
    position: absolute;
    border-radius: 50%;
    background-color: #fffffb;
    border: 3px solid #4e340f;
    color: #4e340f;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 4px;
    top: -20px;
    right: -20px;
    font-size: 15px;
    text-shadow: none; }

.easeIn {
  right: 80px; }

.easeOut {
  right: -250px; }

.notification-close-btn {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 10px;
  top: 15px;
  background: transparent;
  cursor: hand;
  cursor: pointer; }

.chat-view {
  position: absolute;
  right: 10px;
  bottom: 60px;
  width: 320px;
  max-height: 400px;
  min-height: 100px;
  padding-top: 5px;
  background-color: #3B653D;
  border: 6px solid #fe8b2e;
  -webkit-box-shadow: 0 0 0 3px #4e340f;
  -khtml-box-shadow: 0 0 0 3px #4e340f;
  -moz-box-shadow: 0 0 0 3px #4e340f;
  -ms-box-shadow: 0 0 0 3px #4e340f;
  -o-box-shadow: 0 0 0 3px #4e340f;
  box-shadow: 0 0 0 3px #4e340f;
  -webkit-border-radius: 10px 10px 0px 0px;
  -khtml-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  -webkit-opacity: 0.8;
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-opacity: 0.8;
  -o-opacity: 0.8;
  opacity: 0.8;
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: none;
  font-size: 11px;
  overflow-y: scroll; }

.bubble {
  background-color: #fffffb;
  border-radius: 5px;
  box-shadow: 0 0 6px #B2B2B2;
  display: block;
  padding: 10px 18px;
  position: relative;
  vertical-align: top; }

.bubble::before {
  background-color: #fffffb;
  content: "\00a0";
  display: block;
  height: 16px;
  position: absolute;
  top: 11px;
  transform: rotate(29deg) skew(-35deg);
  -moz-transform: rotate(29deg) skew(-35deg);
  -ms-transform: rotate(29deg) skew(-35deg);
  -o-transform: rotate(29deg) skew(-35deg);
  -webkit-transform: rotate(29deg) skew(-35deg);
  width: 20px; }

.me {
  background-color: #fffffb;
  text-align: left;
  float: left;
  clear: left;
  margin: 5px 45px 5px 50px; }
  .me img {
    max-width: 30px;
    max-height: 30px;
    position: absolute;
    left: -45px; }
  .me .senderInfo {
    position: absolute;
    padding: 10px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-color: #fee195;
    left: -25px; }

.me::before {
  box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
  left: -9px; }

.you {
  text-align: right;
  float: right;
  clear: right;
  margin: 5px 50px 5px 45px; }
  .you img {
    max-width: 30px;
    max-height: 30px;
    position: absolute;
    right: -45px; }
  .you .senderInfo {
    position: absolute;
    padding: 10px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-color: #fee195;
    right: -25px; }

.you::before {
  box-shadow: 2px -2px 2px 0 rgba(178, 178, 178, 0.4);
  right: -9px; }

.quest-reward {
  position: absolute;
  font-size: 11px;
  right: 32px;
  top: 73px; }

.profile-avatar {
  padding: 40px;
  max-height: 380px;
  max-width: 300px; }

.profile-form {
  height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
  color: rgba(78, 63, 22, 0.69);
  padding: 30px;
  background-color: rgba(29, 18, 157, 0.1);
  border: 5px solid #fe8b2e;
  -webkit-box-shadow: 0 0 0 3px rgba(78, 63, 22, 0.69);
  -khtml-box-shadow: 0 0 0 3px rgba(78, 63, 22, 0.69);
  -moz-box-shadow: 0 0 0 3px rgba(78, 63, 22, 0.69);
  -ms-box-shadow: 0 0 0 3px rgba(78, 63, 22, 0.69);
  -o-box-shadow: 0 0 0 3px rgba(78, 63, 22, 0.69);
  box-shadow: 0 0 0 3px rgba(78, 63, 22, 0.69);
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

.password-wrapper {
  padding: 50px;
  background-color: rgba(29, 18, 157, 0.1);
  border: 5px solid #fe8b2e;
  -webkit-box-shadow: 0 0 0 3px rgba(78, 63, 22, 0.69);
  -khtml-box-shadow: 0 0 0 3px rgba(78, 63, 22, 0.69);
  -moz-box-shadow: 0 0 0 3px rgba(78, 63, 22, 0.69);
  -ms-box-shadow: 0 0 0 3px rgba(78, 63, 22, 0.69);
  -o-box-shadow: 0 0 0 3px rgba(78, 63, 22, 0.69);
  box-shadow: 0 0 0 3px rgba(78, 63, 22, 0.69);
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

.flash-message {
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 8px 15px 8px 15px;
  display: inline-block;
  background-color: #ed6914;
  color: #fffffb;
  text-shadow: 2px 2px 2px #4e340f; }

.nav-pills > li > a {
  color: rgba(78, 63, 22, 0.69);
  background-color: #fe8b2e; }

.nav-pills > li > a:hover {
  background-color: #f8c4a2; }

.nav-pills > li.active > a {
  text-shadow: 2px 2px 2px #4e340f;
  background-color: #ed6914; }

.nav-pills > li.active > a:hover {
  background-color: #f8c4a2; }

.nav-pills > li.active > a:focus {
  background-color: #ed6914; }

.cb-nav {
  margin-bottom: 15px; }

#loadFacebookG {
  width: 42px;
  height: 42px;
  display: block;
  position: relative;
  margin: auto;
  top: -40px; }

.facebook_blockG {
  background-color: #4c350d;
  border: 1px solid #4c350d;
  float: left;
  height: 30px;
  margin-left: 2px;
  width: 8px;
  opacity: 0.1;
  animation-name: bounceG;
  -o-animation-name: bounceG;
  -ms-animation-name: bounceG;
  -webkit-animation-name: bounceG;
  -moz-animation-name: bounceG;
  animation-duration: 1.3s;
  -o-animation-duration: 1.3s;
  -ms-animation-duration: 1.3s;
  -webkit-animation-duration: 1.3s;
  -moz-animation-duration: 1.3s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  transform: scale(0.7);
  -o-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7); }

#blockG_1 {
  animation-delay: 0.39s;
  -o-animation-delay: 0.39s;
  -ms-animation-delay: 0.39s;
  -webkit-animation-delay: 0.39s;
  -moz-animation-delay: 0.39s; }

#blockG_2 {
  animation-delay: 0.52s;
  -o-animation-delay: 0.52s;
  -ms-animation-delay: 0.52s;
  -webkit-animation-delay: 0.52s;
  -moz-animation-delay: 0.52s; }

#blockG_3 {
  animation-delay: 0.65s;
  -o-animation-delay: 0.65s;
  -ms-animation-delay: 0.65s;
  -webkit-animation-delay: 0.65s;
  -moz-animation-delay: 0.65s; }

@keyframes bounceG {
  0% {
    transform: scale(1.2);
    opacity: 1; }
  100% {
    transform: scale(0.7);
    opacity: 0.1; } }
@-o-keyframes bounceG {
  0% {
    -o-transform: scale(1.2);
    opacity: 1; }
  100% {
    -o-transform: scale(0.7);
    opacity: 0.1; } }
@-ms-keyframes bounceG {
  0% {
    -ms-transform: scale(1.2);
    opacity: 1; }
  100% {
    -ms-transform: scale(0.7);
    opacity: 0.1; } }
@-webkit-keyframes bounceG {
  0% {
    -webkit-transform: scale(1.2);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.7);
    opacity: 0.1; } }
@-moz-keyframes bounceG {
  0% {
    -moz-transform: scale(1.2);
    opacity: 1; }
  100% {
    -moz-transform: scale(0.7);
    opacity: 0.1; } }
.pedestal-wrapper, .rank-first-place, .rank-second-place, .rank-third-place, .rank-fourth-place {
  display: inline-block;
  min-width: 100px;
  min-height: 200px;
  position: relative; }

.pedestal {
  position: absolute;
  bottom: 0px; }

.house-crest {
  position: absolute;
  width: 70%;
  margin: auto;
  left: 0;
  right: 0;
  max-height: 70px;
  -webkit-filter: drop-shadow( 2px 2px 5px rgba(0, 0, 0, 0.4) );
  -khtml-filter: drop-shadow( 2px 2px 5px rgba(0, 0, 0, 0.4) );
  -moz-filter: drop-shadow( 2px 2px 5px rgba(0, 0, 0, 0.4) );
  -ms-filter: drop-shadow( 2px 2px 5px rgba(0, 0, 0, 0.4) );
  -o-filter: drop-shadow( 2px 2px 5px rgba(0, 0, 0, 0.4) );
  filter: drop-shadow( 2px 2px 5px rgba(0, 0, 0, 0.4) ); }

.house-score {
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 900; }

.house-name {
  position: absolute;
  bottom: -20px;
  text-align: center;
  width: 100%; }

.rank-first-place .pedestal {
  content: url("/app/images/ui/ui-14.svg"); }
.rank-first-place .house-crest {
  top: -80px; }
.rank-first-place .house-score {
  top: -100px; }

.rank-second-place .pedestal {
  content: url("/app/images/ui/ui-13.svg"); }
.rank-second-place .house-crest {
  top: -50px; }
.rank-second-place .house-score {
  top: -70px; }

.rank-third-place .pedestal {
  content: url("/app/images/ui/ui-15.svg"); }
.rank-third-place .house-crest {
  top: -20px; }
.rank-third-place .house-score {
  top: -40px; }

.rank-fourth-place .pedestal {
  content: url("/app/images/ui/ui-16.svg"); }
.rank-fourth-place .house-crest {
  top: 10px; }
.rank-fourth-place .house-score {
  top: -10px; }

.col-centered {
  float: none;
  margin: 0 auto; }

.col-content-centered {
  display: table;
  margin: 0 auto; }

.on-the-ground {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 120px; }

.rank-float {
  -webkit-animation: rankfloat 3s linear 0s infinite;
  -khtml-animation: rankfloat 3s linear 0s infinite;
  -moz-animation: rankfloat 3s linear 0s infinite;
  -ms-animation: rankfloat 3s linear 0s infinite;
  -o-animation: rankfloat 3s linear 0s infinite;
  animation: rankfloat 3s linear 0s infinite;
  -webkit-transform-origin: 50% 50%;
  -khtml-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

.rank-float-1 {
  -webkit-animation: rankfloat 3s linear 0.5s infinite;
  -khtml-animation: rankfloat 3s linear 0.5s infinite;
  -moz-animation: rankfloat 3s linear 0.5s infinite;
  -ms-animation: rankfloat 3s linear 0.5s infinite;
  -o-animation: rankfloat 3s linear 0.5s infinite;
  animation: rankfloat 3s linear 0.5s infinite;
  -webkit-transform-origin: 50% 50%;
  -khtml-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

.rank-float-2 {
  -webkit-animation: rankfloat 3s linear 1s infinite;
  -khtml-animation: rankfloat 3s linear 1s infinite;
  -moz-animation: rankfloat 3s linear 1s infinite;
  -ms-animation: rankfloat 3s linear 1s infinite;
  -o-animation: rankfloat 3s linear 1s infinite;
  animation: rankfloat 3s linear 1s infinite;
  -webkit-transform-origin: 50% 50%;
  -khtml-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

.rank-float-3 {
  -webkit-animation: rankfloat 3s linear 1.5s infinite;
  -khtml-animation: rankfloat 3s linear 1.5s infinite;
  -moz-animation: rankfloat 3s linear 1.5s infinite;
  -ms-animation: rankfloat 3s linear 1.5s infinite;
  -o-animation: rankfloat 3s linear 1.5s infinite;
  animation: rankfloat 3s linear 1.5s infinite;
  -webkit-transform-origin: 50% 50%;
  -khtml-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

@-webkit-keyframes rankfloat {
  0% {
    -webkit-transform: translate(0px, 0px);
    -khtml-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  25% {
    -webkit-transform: translate(0px, -3px);
    -khtml-transform: translate(0px, -3px);
    -moz-transform: translate(0px, -3px);
    -ms-transform: translate(0px, -3px);
    -o-transform: translate(0px, -3px);
    transform: translate(0px, -3px); }
  50% {
    -webkit-transform: translate(0px, 0px);
    -khtml-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  75% {
    -webkit-transform: translate(0px, 3px);
    -khtml-transform: translate(0px, 3px);
    -moz-transform: translate(0px, 3px);
    -ms-transform: translate(0px, 3px);
    -o-transform: translate(0px, 3px);
    transform: translate(0px, 3px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    -khtml-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
@-moz-keyframes rankfloat {
  0% {
    -webkit-transform: translate(0px, 0px);
    -khtml-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  25% {
    -webkit-transform: translate(0px, -3px);
    -khtml-transform: translate(0px, -3px);
    -moz-transform: translate(0px, -3px);
    -ms-transform: translate(0px, -3px);
    -o-transform: translate(0px, -3px);
    transform: translate(0px, -3px); }
  50% {
    -webkit-transform: translate(0px, 0px);
    -khtml-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  75% {
    -webkit-transform: translate(0px, 3px);
    -khtml-transform: translate(0px, 3px);
    -moz-transform: translate(0px, 3px);
    -ms-transform: translate(0px, 3px);
    -o-transform: translate(0px, 3px);
    transform: translate(0px, 3px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    -khtml-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
@-ms-keyframes rankfloat {
  0% {
    -webkit-transform: translate(0px, 0px);
    -khtml-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  25% {
    -webkit-transform: translate(0px, -3px);
    -khtml-transform: translate(0px, -3px);
    -moz-transform: translate(0px, -3px);
    -ms-transform: translate(0px, -3px);
    -o-transform: translate(0px, -3px);
    transform: translate(0px, -3px); }
  50% {
    -webkit-transform: translate(0px, 0px);
    -khtml-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  75% {
    -webkit-transform: translate(0px, 3px);
    -khtml-transform: translate(0px, 3px);
    -moz-transform: translate(0px, 3px);
    -ms-transform: translate(0px, 3px);
    -o-transform: translate(0px, 3px);
    transform: translate(0px, 3px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    -khtml-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
@-o-keyframes rankfloat {
  0% {
    -webkit-transform: translate(0px, 0px);
    -khtml-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  25% {
    -webkit-transform: translate(0px, -3px);
    -khtml-transform: translate(0px, -3px);
    -moz-transform: translate(0px, -3px);
    -ms-transform: translate(0px, -3px);
    -o-transform: translate(0px, -3px);
    transform: translate(0px, -3px); }
  50% {
    -webkit-transform: translate(0px, 0px);
    -khtml-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  75% {
    -webkit-transform: translate(0px, 3px);
    -khtml-transform: translate(0px, 3px);
    -moz-transform: translate(0px, 3px);
    -ms-transform: translate(0px, 3px);
    -o-transform: translate(0px, 3px);
    transform: translate(0px, 3px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    -khtml-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
@keyframes rankfloat {
  0% {
    -webkit-transform: translate(0px, 0px);
    -khtml-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  25% {
    -webkit-transform: translate(0px, -3px);
    -khtml-transform: translate(0px, -3px);
    -moz-transform: translate(0px, -3px);
    -ms-transform: translate(0px, -3px);
    -o-transform: translate(0px, -3px);
    transform: translate(0px, -3px); }
  50% {
    -webkit-transform: translate(0px, 0px);
    -khtml-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  75% {
    -webkit-transform: translate(0px, 3px);
    -khtml-transform: translate(0px, 3px);
    -moz-transform: translate(0px, 3px);
    -ms-transform: translate(0px, 3px);
    -o-transform: translate(0px, 3px);
    transform: translate(0px, 3px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    -khtml-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }
.rank-wobble {
  -webkit-animation: rankwobble 1s linear 0s infinite;
  -khtml-animation: rankwobble 1s linear 0s infinite;
  -moz-animation: rankwobble 1s linear 0s infinite;
  -ms-animation: rankwobble 1s linear 0s infinite;
  -o-animation: rankwobble 1s linear 0s infinite;
  animation: rankwobble 1s linear 0s infinite;
  -webkit-transform-origin: 50% 50%;
  -khtml-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

@-webkit-keyframes rankwobble {
  0% {
    -webkit-transform: rotate(-4deg);
    -khtml-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  50% {
    -webkit-transform: rotate(4deg);
    -khtml-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    transform: rotate(4deg); }
  100% {
    -webkit-transform: rotate(-4deg);
    -khtml-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg); } }
@-moz-keyframes rankwobble {
  0% {
    -webkit-transform: rotate(-4deg);
    -khtml-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  50% {
    -webkit-transform: rotate(4deg);
    -khtml-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    transform: rotate(4deg); }
  100% {
    -webkit-transform: rotate(-4deg);
    -khtml-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg); } }
@-ms-keyframes rankwobble {
  0% {
    -webkit-transform: rotate(-4deg);
    -khtml-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  50% {
    -webkit-transform: rotate(4deg);
    -khtml-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    transform: rotate(4deg); }
  100% {
    -webkit-transform: rotate(-4deg);
    -khtml-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg); } }
@-o-keyframes rankwobble {
  0% {
    -webkit-transform: rotate(-4deg);
    -khtml-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  50% {
    -webkit-transform: rotate(4deg);
    -khtml-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    transform: rotate(4deg); }
  100% {
    -webkit-transform: rotate(-4deg);
    -khtml-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg); } }
@keyframes rankwobble {
  0% {
    -webkit-transform: rotate(-4deg);
    -khtml-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  50% {
    -webkit-transform: rotate(4deg);
    -khtml-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    transform: rotate(4deg); }
  100% {
    -webkit-transform: rotate(-4deg);
    -khtml-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg); } }
.rankings-title {
  background: url("/app/images/ui/ui-18.svg") center no-repeat;
  background-size: 200px 30px; }

body {
  font-family: 'BuzzFont';
  background: url("/app/images/ui/ui-71.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#wrapper {
  height: 100vh;
  overflow: hidden; }

.vertical-middle {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.cb-badge {
  position: absolute;
  border-radius: 50%;
  background-color: #fffffb;
  border: 3px solid #4e340f;
  color: #4e340f;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 4px;
  top: -20px;
  right: -20px;
  font-size: 15px;
  text-shadow: none;
  top: -20px;
  right: 5px; }

.logo {
  color: rgba(78, 63, 22, 0.69); }
  .logo img {
    max-width: 400px; }

.login-footer {
  font-size: 12px;
  color: rgba(78, 63, 22, 0.69); }
  .login-footer a {
    color: #ed6914; }

.spinner-center {
  margin: auto;
  width: 400px; }

.spinner-info-text {
  font-size: 20px;
  text-align: center;
  padding: 50px 50px 10px 50px;
  color: #ed6914; }

.spinner-buttons {
  display: block;
  text-align: center; }

.spinner-button {
  margin: 50px; }

.spinner-house-data {
  text-align: center; }
  .spinner-house-data img {
    display: inline-block;
    max-width: 150px;
    max-height: 150px; }
  .spinner-house-data p {
    display: block;
    font-size: 25px;
    color: #ed6914; }

.modal-content {
  background-color: #333333;
  color: #ed6914;
  font-size: 20px;
  text-align: center;
  padding: 20px; }

.signup-wizard {
  font-family: 'Open Sans', sans-serif !important; }

/*# sourceMappingURL=main.css.map */
