@import "lib/css3-mixins";
@import "partials/colors";
@import "partials/variables";
@import "partials/mixins";
@import "partials/global";
@import "partials/grid";
@import "partials/popups";
@import "partials/avatar";
@import "partials/menus";
@import "partials/buttons";
@import "partials/store";
@import "partials/fonts";
@import "partials/form-controls";
@import "partials/achievements";
@import "partials/livefeed";
@import "partials/notifications";
@import "partials/chat";
@import "partials/quests";
@import "partials/userprofile";
@import "partials/tabcontrol";
@import "partials/spinners";
@import "partials/rankings";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'BuzzFont';
  @include perfect-background($background-url);
}

#wrapper {
  height: 100vh;
  overflow: hidden;
}

.vertical-middle {
  @include vertical-align();
}

.cb-badge {
  @include badgify();
  top: -20px;
  right: 5px;
}

.logo {
  color: $ui-color-8;

  img{
    max-width: 400px;
  }

}

.login-footer{
  font-size: 12px;
  color: $ui-color-8;

  a {
    color: $ui-color-2;
  }
}

.spinner-center {
  margin: auto;
  width: 400px;
}

.spinner-info-text {
  font-size: 20px;
  text-align: center;
  padding: 50px 50px 10px 50px;
  color: $ui-color-2;
}

.spinner-buttons {
  display: block;
  text-align: center;
}

.spinner-button {
  margin: 50px;
}

.spinner-house-data{
  text-align: center;

  img {
    display: inline-block;
    max-width: 150px;
    max-height: 150px;
  }

  p {
    display: block;
    font-size: 25px;
    color: $ui-color-2;
  }

}

.modal-content {
  background-color: lighten(black,20%);
  color: $ui-color-2;;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

.signup-wizard{
  font-family: 'Open Sans', sans-serif !important;
}